@use 'vars';

main {

    .catalog-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: clamp(1160px, 100vw - 240px, 1680px);
        max-width: 100vw;
        margin: 62px auto 62px;


        .catalog-categories__category {
            display: flex;
            justify-content: flex-start;
            column-gap: 8%;
            border: 1px solid vars.$text-light;
            text-transform: none;
            padding: 20px 0;
            border-radius: 0;

            &:hover {
                background-color: vars.$text-light__on-hower__oppas20;
                transition: vars.$main__transition;
            }


            &:active {
                background-color: vars.$text-light__while-pressing__oppas60;
                transition: vars.$main__transition;
            }

            img {
                margin-left: 7%;
            }

            .catalog-categories__category__wrapper {
                display: flex;
                align-items: center;
                flex: 1;

                p {
                    font-weight: 500;
                    font-size: clamp(18px, 2vw - 16px, 20px);
                    color: vars.$title;
                    letter-spacing: 0.4px;
                    line-height: 25px;
                    text-align: left;
                }

                span {
                    display: inline-block;
                    margin-left: 3%;
                    width: 22px;
                    height: 22px;
                    border: 1px solid vars.$text-light;
                    color: vars.$text;
                    font-weight: 400;
                    font-size: 12px;
                }
            }

        }

        .index-catalog__goToCatalog {
            border-radius: 0px;
        }
    }

    .catalogMainPage {
        background-color: vars.$title-light;
        text-align: center;
        border-radius: 32px;
        padding: 70px 0 28px;
        max-width: 120rem;
        margin: 0 auto clamp(5rem, 6vw - 1rem, 6.1875rem);

        opacity: 0;
        transform: translateY(50px);
        transition: all 1s cubic-bezier(0, 0, 0, 0.9);

        h2 {
            .line {
                &:first-child {
                    .wrapperForWord {
                        &:first-child {
                            color: vars.$accent;
                        }
                    }
                }

            }
        }

        .catalog-categories {


            a {
                opacity: 0;
                transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                &:nth-child(1) {
                    transform: translate(-50px, 30px);
                }

                &:nth-child(2) {}

                &:nth-child(3) {
                    transform: translate(50px, 30px);
                }

                &:nth-child(4) {
                    transform: translate(-50px, 60px);
                }

                &:nth-child(5) {
                    transform: translate(0, 60px);
                }

                &:nth-child(6) {
                    transform: translate(50px, 60px);
                }
            }

            .appearcatalogCategories {
                &:nth-child(1n) {
                    opacity: 1;
                    transform: translate(0, 0);
                }

            }
        }
    }

    .appearcatalogMainPage {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1400px) {
    main {
        .catalog-categories {
            width: clamp(540px, 100vw - 61px, 1160px);

            .catalog-categories__category {
                justify-content: center;
                column-gap: 0;
                padding: 20px 8%;

                img {
                    margin-left: 0;
                }

                .catalog-categories__category__wrapper {
                    flex: initial;

                    p {
                        padding: 0 1vw;
                        letter-spacing: 0.3px;
                    }

                    span {
                        margin-left: 0;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1380px) {

    //fix for rem units
    main {
        .catalog-categories {
            .catalog-categories__category {
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        .catalog-categories {
            grid-template-columns: 1fr 1fr;
            margin-top: clamp(21px, 20vw - 160px, 61px);
            margin-bottom: clamp(61px, 281px - 20vw, 110px);

            .catalog-categories__category {
                padding: 20px 6%;
                flex-wrap: nowrap;

                .catalog-categories__category__wrapper {
                    padding: 0 2%;

                    span {
                        position: relative;
                        right: -4%;
                    }
                }
            }
        }

        .catalogMainPage {
            padding-top: clamp(50px, 10vw - 36px, 74px);
            padding-bottom: clamp(8px, 10vw - 76px, 33px);

            h2 {
                line-height: 1.4;
            }

            .catalog-categories {
                margin-bottom: 61px;

                a {

                    &:nth-child(1) {
                        transform: translate(-50px, 30px);
                    }

                    &:nth-child(2) {
                        transform: translate(50px, 30px);
                    }

                    &:nth-child(3) {
                        transform: translate(-50px, 60px);
                    }

                    &:nth-child(4) {
                        transform: translate(50px, 60px);
                    }

                    &:nth-child(5) {
                        transform: translate(-50px, 80px);
                    }

                    &:nth-child(6) {
                        transform: translate(50px, 80px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 735px) {
    main {
        .catalog-categories {
            margin-top: clamp(33px, 94px - 10vw, 32px);
            margin-bottom: clamp(61px, 40vw - 184px, 110px);

            .catalog-categories__category {
                height: clamp(80px, 1vw + 74px, 99px);
                flex-direction: column;
                padding: 20px 2%;
                row-gap: 7%;

                img {
                    width: 32px;
                    height: 32px;
                }

                .catalog-categories__category__wrapper {
                    padding: 0;

                    p {
                        font-size: clamp(14px, 3vw - 4px, 18px);
                        margin-left: 0;
                        letter-spacing: 0.2px;
                        padding: 0;
                    }

                    span {
                        right: 0;
                        margin-left: 16px;
                    }
                }

            }

            .index-catalog__goToCatalog {
                font-size: clamp(14px, 3vw - 4px, 18px);
            }
        }

    }
}

@media screen and (max-width: 580px) {
    main {
        .catalog-categories {
            margin-top: 23px;
            margin-bottom: 0;
            order: 1;
            grid-template-columns: 1fr;

            .catalog-categories__category {
                &:not(:last-child) {
                    display: none;
                }

            }

            .index-catalog__goToCatalog {
                max-width: 100vw;
                width: 260px;
                height: 45px;
                border-radius: 4px;
                justify-self: center;
            }
        }

        .catalogMainPage {
            h2 {
                line-height: 1.3;
            }

            .catalog-categories {
                display: flex;
                flex-direction: column;
                width: clamp(260px, 110vw - 93px, 540px);
                margin-top: 28px;

                .catalog-categories__category {
                    &:not(:last-child) {
                        display: flex;
                    }
                }

                .index-catalog__goToCatalog {
                    display: none;
                    position: initial;
                    width: initial;
                    height: initial;
                    border-radius: initial;
                }

                @for $i from 1 through 100 {
                    a:nth-child(n + #{$i}) {
                        transform: translate(0, $i * 20px);
                    }
                }



            }

        }

    }
}