main .catalog-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: clamp(1160px, 100vw - 240px, 1680px);
  max-width: 100vw;
  margin: 62px auto 62px;
}
main .catalog-categories .catalog-categories__category {
  display: flex;
  justify-content: flex-start;
  column-gap: 8%;
  border: 1px solid #D9D9D9;
  text-transform: none;
  padding: 20px 0;
  border-radius: 0;
}
main .catalog-categories .catalog-categories__category:hover {
  background-color: rgba(217, 217, 217, 0.2);
  transition: all 0.5s ease;
}
main .catalog-categories .catalog-categories__category:active {
  background-color: rgba(217, 217, 217, 0.6);
  transition: all 0.5s ease;
}
main .catalog-categories .catalog-categories__category img {
  margin-left: 7%;
}
main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper p {
  font-weight: 500;
  font-size: clamp(18px, 2vw - 16px, 20px);
  color: #0D0D0D;
  letter-spacing: 0.4px;
  line-height: 25px;
  text-align: left;
}
main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper span {
  display: inline-block;
  margin-left: 3%;
  width: 22px;
  height: 22px;
  border: 1px solid #D9D9D9;
  color: #767676;
  font-weight: 400;
  font-size: 12px;
}
main .catalog-categories .index-catalog__goToCatalog {
  border-radius: 0px;
}
main .catalogMainPage {
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 32px;
  padding: 70px 0 28px;
  max-width: 120rem;
  margin: 0 auto clamp(5rem, 6vw - 1rem, 6.1875rem);
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s cubic-bezier(0, 0, 0, 0.9);
}
main .catalogMainPage h2 .line:first-child .wrapperForWord:first-child {
  color: #73C167;
}
main .catalogMainPage .catalog-categories a {
  opacity: 0;
  transition: all 1s cubic-bezier(0, 0, 0, 0.9);
}
main .catalogMainPage .catalog-categories a:nth-child(1) {
  transform: translate(-50px, 30px);
}
main .catalogMainPage .catalog-categories a:nth-child(3) {
  transform: translate(50px, 30px);
}
main .catalogMainPage .catalog-categories a:nth-child(4) {
  transform: translate(-50px, 60px);
}
main .catalogMainPage .catalog-categories a:nth-child(5) {
  transform: translate(0, 60px);
}
main .catalogMainPage .catalog-categories a:nth-child(6) {
  transform: translate(50px, 60px);
}
main .catalogMainPage .catalog-categories .appearcatalogCategories:nth-child(1n) {
  opacity: 1;
  transform: translate(0, 0);
}
main .appearcatalogMainPage {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1400px) {
  main .catalog-categories {
    width: clamp(540px, 100vw - 61px, 1160px);
  }
  main .catalog-categories .catalog-categories__category {
    justify-content: center;
    column-gap: 0;
    padding: 20px 8%;
  }
  main .catalog-categories .catalog-categories__category img {
    margin-left: 0;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper {
    flex: initial;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper p {
    padding: 0 1vw;
    letter-spacing: 0.3px;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper span {
    margin-left: 0;
  }
}
@media screen and (max-width: 1380px) {
  main .catalog-categories .catalog-categories__category {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  main .catalog-categories {
    grid-template-columns: 1fr 1fr;
    margin-top: clamp(21px, 20vw - 160px, 61px);
    margin-bottom: clamp(61px, 281px - 20vw, 110px);
  }
  main .catalog-categories .catalog-categories__category {
    padding: 20px 6%;
    flex-wrap: nowrap;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper {
    padding: 0 2%;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper span {
    position: relative;
    right: -4%;
  }
  main .catalogMainPage {
    padding-top: clamp(50px, 10vw - 36px, 74px);
    padding-bottom: clamp(8px, 10vw - 76px, 33px);
  }
  main .catalogMainPage h2 {
    line-height: 1.4;
  }
  main .catalogMainPage .catalog-categories {
    margin-bottom: 61px;
  }
  main .catalogMainPage .catalog-categories a:nth-child(1) {
    transform: translate(-50px, 30px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(2) {
    transform: translate(50px, 30px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(3) {
    transform: translate(-50px, 60px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(4) {
    transform: translate(50px, 60px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(5) {
    transform: translate(-50px, 80px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(6) {
    transform: translate(50px, 80px);
  }
}
@media screen and (max-width: 735px) {
  main .catalog-categories {
    margin-top: clamp(33px, 94px - 10vw, 32px);
    margin-bottom: clamp(61px, 40vw - 184px, 110px);
  }
  main .catalog-categories .catalog-categories__category {
    height: clamp(80px, 1vw + 74px, 99px);
    flex-direction: column;
    padding: 20px 2%;
    row-gap: 7%;
  }
  main .catalog-categories .catalog-categories__category img {
    width: 32px;
    height: 32px;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper {
    padding: 0;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper p {
    font-size: clamp(14px, 3vw - 4px, 18px);
    margin-left: 0;
    letter-spacing: 0.2px;
    padding: 0;
  }
  main .catalog-categories .catalog-categories__category .catalog-categories__category__wrapper span {
    right: 0;
    margin-left: 16px;
  }
  main .catalog-categories .index-catalog__goToCatalog {
    font-size: clamp(14px, 3vw - 4px, 18px);
  }
}
@media screen and (max-width: 580px) {
  main .catalog-categories {
    margin-top: 23px;
    margin-bottom: 0;
    order: 1;
    grid-template-columns: 1fr;
  }
  main .catalog-categories .catalog-categories__category:not(:last-child) {
    display: none;
  }
  main .catalog-categories .index-catalog__goToCatalog {
    max-width: 100vw;
    width: 260px;
    height: 45px;
    border-radius: 4px;
    justify-self: center;
  }
  main .catalogMainPage h2 {
    line-height: 1.3;
  }
  main .catalogMainPage .catalog-categories {
    display: flex;
    flex-direction: column;
    width: clamp(260px, 110vw - 93px, 540px);
    margin-top: 28px;
  }
  main .catalogMainPage .catalog-categories .catalog-categories__category:not(:last-child) {
    display: flex;
  }
  main .catalogMainPage .catalog-categories .index-catalog__goToCatalog {
    display: none;
    position: initial;
    width: initial;
    height: initial;
    border-radius: initial;
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+1) {
    transform: translate(0, 20px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+2) {
    transform: translate(0, 40px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+3) {
    transform: translate(0, 60px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+4) {
    transform: translate(0, 80px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+5) {
    transform: translate(0, 100px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+6) {
    transform: translate(0, 120px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+7) {
    transform: translate(0, 140px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+8) {
    transform: translate(0, 160px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+9) {
    transform: translate(0, 180px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+10) {
    transform: translate(0, 200px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+11) {
    transform: translate(0, 220px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+12) {
    transform: translate(0, 240px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+13) {
    transform: translate(0, 260px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+14) {
    transform: translate(0, 280px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+15) {
    transform: translate(0, 300px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+16) {
    transform: translate(0, 320px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+17) {
    transform: translate(0, 340px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+18) {
    transform: translate(0, 360px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+19) {
    transform: translate(0, 380px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+20) {
    transform: translate(0, 400px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+21) {
    transform: translate(0, 420px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+22) {
    transform: translate(0, 440px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+23) {
    transform: translate(0, 460px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+24) {
    transform: translate(0, 480px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+25) {
    transform: translate(0, 500px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+26) {
    transform: translate(0, 520px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+27) {
    transform: translate(0, 540px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+28) {
    transform: translate(0, 560px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+29) {
    transform: translate(0, 580px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+30) {
    transform: translate(0, 600px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+31) {
    transform: translate(0, 620px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+32) {
    transform: translate(0, 640px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+33) {
    transform: translate(0, 660px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+34) {
    transform: translate(0, 680px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+35) {
    transform: translate(0, 700px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+36) {
    transform: translate(0, 720px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+37) {
    transform: translate(0, 740px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+38) {
    transform: translate(0, 760px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+39) {
    transform: translate(0, 780px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+40) {
    transform: translate(0, 800px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+41) {
    transform: translate(0, 820px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+42) {
    transform: translate(0, 840px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+43) {
    transform: translate(0, 860px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+44) {
    transform: translate(0, 880px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+45) {
    transform: translate(0, 900px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+46) {
    transform: translate(0, 920px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+47) {
    transform: translate(0, 940px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+48) {
    transform: translate(0, 960px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+49) {
    transform: translate(0, 980px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+50) {
    transform: translate(0, 1000px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+51) {
    transform: translate(0, 1020px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+52) {
    transform: translate(0, 1040px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+53) {
    transform: translate(0, 1060px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+54) {
    transform: translate(0, 1080px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+55) {
    transform: translate(0, 1100px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+56) {
    transform: translate(0, 1120px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+57) {
    transform: translate(0, 1140px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+58) {
    transform: translate(0, 1160px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+59) {
    transform: translate(0, 1180px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+60) {
    transform: translate(0, 1200px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+61) {
    transform: translate(0, 1220px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+62) {
    transform: translate(0, 1240px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+63) {
    transform: translate(0, 1260px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+64) {
    transform: translate(0, 1280px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+65) {
    transform: translate(0, 1300px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+66) {
    transform: translate(0, 1320px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+67) {
    transform: translate(0, 1340px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+68) {
    transform: translate(0, 1360px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+69) {
    transform: translate(0, 1380px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+70) {
    transform: translate(0, 1400px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+71) {
    transform: translate(0, 1420px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+72) {
    transform: translate(0, 1440px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+73) {
    transform: translate(0, 1460px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+74) {
    transform: translate(0, 1480px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+75) {
    transform: translate(0, 1500px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+76) {
    transform: translate(0, 1520px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+77) {
    transform: translate(0, 1540px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+78) {
    transform: translate(0, 1560px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+79) {
    transform: translate(0, 1580px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+80) {
    transform: translate(0, 1600px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+81) {
    transform: translate(0, 1620px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+82) {
    transform: translate(0, 1640px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+83) {
    transform: translate(0, 1660px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+84) {
    transform: translate(0, 1680px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+85) {
    transform: translate(0, 1700px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+86) {
    transform: translate(0, 1720px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+87) {
    transform: translate(0, 1740px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+88) {
    transform: translate(0, 1760px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+89) {
    transform: translate(0, 1780px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+90) {
    transform: translate(0, 1800px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+91) {
    transform: translate(0, 1820px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+92) {
    transform: translate(0, 1840px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+93) {
    transform: translate(0, 1860px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+94) {
    transform: translate(0, 1880px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+95) {
    transform: translate(0, 1900px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+96) {
    transform: translate(0, 1920px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+97) {
    transform: translate(0, 1940px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+98) {
    transform: translate(0, 1960px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+99) {
    transform: translate(0, 1980px);
  }
  main .catalogMainPage .catalog-categories a:nth-child(n+100) {
    transform: translate(0, 2000px);
  }
}

/*# sourceMappingURL=catalogMainPage.css.map */
