@use 'vars';

main {
    .forCategoryAllPages {
        display: flex;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 59px;
            padding: 0 5px;
            flex-grow: 1;
            background-color: vars.$title-light;
            font-weight: 500;
            font-size: clamp(14px, 2vw - 18px, 20px);
            color: vars.$title;
            letter-spacing: 0.5px;
            border: 1px solid vars.$border-color;

            span {
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 1px solid vars.$text-light;
                color: vars.$text;
                margin-left: 16px;
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                padding-top: 2px;
                flex-shrink: 0;
                pointer-events: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .highlighted {
            background-color: vars.$accent;
            border: 1px solid vars.$accent;
            transition: vars.$main__transition;
            color: vars.$title-light;
            transition: vars.$main__transition;

            span {
                border: 1px solid vars.$title-light;
                color: vars.$title-light;

            }
        }
    }

    .stars {
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 20px;
        margin-left: 2px;

        .star {
            position: relative;
            width: 20px;

            &:before {
                content: "★";
                position: absolute;
                left: 0;
                top: -4px;
                line-height: 1;
                font-size: 20px;
            }
        }

        .fill {
            &:before {

                color: vars.$accent;
            }
        }

        .empty {
            &:before {
                color: vars.$star-off-color;
            }
        }

        .half {
            &:before {
                /*background-image: linear-gradient(90deg, vars.$accent 50%, vars.$star-off-color 50%);*/
                background-image: -webkit-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -moz-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -o-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -ms-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                font-size: 22px;
                top: -1px;
            }
        }
    }

    .allPageCard {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 726px;
        background-color: vars.$title-light;
        border-radius: 8px;

        .allPageCard__swiperImg {
            overflow: hidden;
            flex: 7;

            .swiper-wrapper {
                height: 98%;

                .swiper-slide {
                    padding: 0 0;
                    opacity: 1;
                    height: inherit;

                    a {
                        padding-top: 0;
                        height: 100%;

                        img {
                            height: 100%;
                        }
                    }

                }
            }

            .swiper-card__swiperImg-pagination {
                display: flex;
                justify-content: center;
                align-items: end;

                .swiper-pagination-bullet {
                    width: 53px;
                    height: 3px;
                    margin: 0 1px;
                    border-radius: 0px;
                    background-color: vars.$accent;
                }

                .swiper-pagination-bullet-active {
                    height: 5px;
                }
            }

        }

        .allPageCard__raiting {
            display: flex;
            margin-top: 19px;

            p {
                font-size: 12px;
                text-align: right;
            }
        }

        h4 {
            margin: 14px 0;
            line-height: 1.4;
            text-align: left;
            color: vars.$title;
        }

        p {
            line-height: 1.35;
            text-align: left;
            flex: 1;
        }

    }

    .allPageCardIgnorRemToPx {

        padding: 24px 18px 24px 17px;
    }

    .allPageCard__buy {
        display: flex;
        justify-content: space-between;
        row-gap: 5px;
        column-gap: 9px;

        span {
            font-weight: 500;
            font-size: 24px;
            color: vars.$accent;
        }

        .allPageCard__buy__a {
            width: 160px;
            height: 35px;
            column-gap: 7%;
            position: relative;
            border-radius: 4px;
            font-weight: 700;
            font-size: 14px;
            margin-left: auto;

            .allPageCard__buy__a__img {}

            .allPageCard__buy__a__txt {
                font-size: 14px;
                font-weight: 700;
                color: vars.$title-light;

            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 35px;
            background-color: vars.$title-light;
            border-radius: 4px;
            border: 1px solid vars.$accent;

            img {
                width: 14px;
                height: 14px;
            }

            &:hover {
                background-color: vars.$accent__on-hower__oppas20;
                transition: vars.$main__transition;
            }

            &:active {
                background-color: vars.$accent__while-pressing__oppas40;
                transition: vars.$main__transition;
            }
        }
    }

    .catalogCategories {
        //padding-top: 32px;
        padding-bottom: 100px;

        .container {
            .hide {
                display: none;
            }
        }

        .catalogCategories__select-catagory {
            margin-bottom: clamp(24px, 5vw - 56px, 40px);

            p {
                transform: scale(0);

            }

            #bacteria-for-septic {
                transition: transform 0.5s 0s;
            }



            #Fermentation-mats {
                transition: transform 0.5s 0.2s;
            }



            #clearWater {
                transition: transform 0.5s 0.4s;
            }



            #Composting {
                transition: transform 0.5s 0.6s;
            }

            #For-soil-and-plants {
                transition: transform 0.5s 0.8s;
            }

            .appearCatagory {
                transform: scale(1);
            }
        }

        .catalogCategories__wrapperForFilter {
            display: flex;
            justify-content: space-between;
            column-gap: 0.5rem;

            .filter {

                .filter__form {
                    background: none;
                    padding: 0;
                    align-items: start;

                    opacity: 0;
                    transform: translateY(200px);
                    transition: transform 1s cubic-bezier(0, 0, 0, 0.9), opacity 1s cubic-bezier(0, 0, 0, 0.9) 0.5s;

                    .filter__form__reset-filter {
                        width: 260px;
                        height: 41px;
                        background: none;
                        font-weight: 400;
                        font-size: 16px;
                        color: vars.$text;
                        text-transform: none;
                        text-decoration: underline;
                        text-align: left;
                        border-bottom: 1px solid vars.$border_filter;
                        margin-bottom: 12px;
                        display: flex;
                    }

                    .rotateSvg {
                        transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }

                    fieldset {
                        width: 260px;
                        max-width: 100vw;
                        position: relative;
                        border: none;
                        margin-bottom: 14px;
                        padding-bottom: 7px;
                        border-bottom: 1px solid vars.$border_filter;

                        div {
                            top: -100px;
                            transition: top, vars.$main__transition;
                        }

                        .wrapperForHidden {

                            overflow: hidden;
                            max-height: 0;
                            transition: height, vars.$main__transition;
                        }

                        .openFilter {
                            max-height: 140px;

                        }

                        legend {
                            font-weight: 500;
                            font-size: 20px;
                            color: vars.$title-p;
                            margin-bottom: 15px;
                        }

                        .filter__form__item {
                            display: flex;
                            width: 205px;
                            max-width: calc(100vw - 30px);
                            margin-bottom: 10px;
                            align-items: center;
                            position: relative;
                            transition: top, vars.$main__transition;

                            label {
                                //margin-left: 10px;
                            }

                            .input-label-custom__input {


                                &+label {
                                    font-size: 16px;
                                    height: 21px;

                                    &::before {
                                        width: 18px;
                                        height: 18px;
                                        margin-right: 10px;
                                    }

                                }

                                &:checked+label::after {
                                    background-size: 12px 12px;
                                    left: 3px;
                                    top: 1px;
                                    font-size: 10px;
                                    height: 19px;
                                    width: 14px;
                                }
                            }

                            .count-goods {
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                margin-left: auto;
                                border-radius: 29px;
                                color: vars.$title;
                                background-color: vars.$text-light;
                                text-align: center;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 1.9;
                            }
                        }

                    }

                    .filter__form__price-range {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;

                        .wrapperForHidden {
                            max-width: calc(100vw - 30px);
                            width: inherit;
                            overflow: hidden;
                            max-height: 0;
                            transition: height, vars.$main__transition;
                        }

                        .openFilter {
                            max-height: 140px;
                        }

                        .price-range__slider {
                            margin-top: 3px;
                            height: 4px;
                            position: relative;
                            background: vars.$text-light;
                            border-radius: 5px;

                            .progress {
                                height: 100%;
                                left: 25%;
                                right: 25%;
                                position: absolute;
                                border-radius: 5px;
                                background: vars.$accent__bg-price-range__oppas28;
                            }
                        }

                        .price-range__range-input {
                            position: relative;

                            input {
                                position: absolute;
                                width: 100%;
                                height: 5px;
                                top: -5px;
                                background: none;
                                pointer-events: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                            }

                            input[type="range"]::-webkit-slider-thumb {
                                height: 12px;
                                width: 12px;
                                border: 2px solid vars.$title-light;
                                border-radius: 50%;
                                background: vars.$accent;
                                pointer-events: auto;
                                -webkit-appearance: none;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                            }

                            input[type="range"]::-moz-range-thumb {
                                height: 12px;
                                width: 12px;
                                border: 2px solid vars.$title-light;
                                border-radius: 50%;
                                background: vars.$accent;
                                pointer-events: auto;
                                -moz-appearance: none;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                            }
                        }

                        .price-range__price-input {
                            width: 100%;
                            display: flex;
                            margin: 4px 0 33px;
                            justify-content: space-between;

                            .field {
                                display: flex;
                                width: 43%;
                                height: 41px;
                                align-items: end;
                                position: relative;

                                span {
                                    &:first-child {
                                        margin-right: 4px;
                                    }

                                    &:last-child {
                                        position: absolute;
                                        right: 18%;
                                        top: 13px;
                                    }
                                }

                                input {
                                    height: 32px;
                                    width: 100%;
                                    //text-align: center;
                                    padding-left: 19px;
                                    outline: none;
                                    border: none;
                                    font-size: 16px;
                                    border-radius: 4px;
                                    -moz-appearance: textfield;
                                }

                                input[type="number"]::-webkit-outer-spin-button,
                                input[type="number"]::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }
                            }

                            /*.separator {
                                width: 33px;
                                display: flex;
                                font-size: 19px;
                                align-items: center;
                                justify-content: center;
                            }*/
                        }


                    }

                    .openFilterItem {
                        top: 0 !important;

                    }

                    #apply-filter {
                        border-radius: 8px;
                        width: clamp(274px, 18vw - 24px, 320px);
                    }

                    .wrapperForSvgFilter {
                        position: absolute;
                        top: -54px;
                        right: 10px;

                        svg {
                            -webkit-transition: -webkit-transform, vars.$main__transition;
                            -ms-transition: -ms-transform, vars.$main__transition;
                            transition: transform, vars.$main__transition;
                            pointer-events: none;
                        }
                    }

                }

                .appearfilterForm {
                    opacity: 1;
                    transform: translateY(0);
                }

                .filter__close {
                    display: none;
                }
            }

            .catalogCategories__cards-goods {
                overflow: hidden;

                .catalogCategories__cards-goods__counter-filterTwo {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .counter-card {
                        font-weight: 500;
                        font-size: 20px;
                        color: vars.$text;
                        display: flex;
                        align-items: center;
                        opacity: 0;
                        transform: translateX(-300px);

                        transition: transform 1s cubic-bezier(0, 0, 0, 0.9), opacity 1s cubic-bezier(0, 0, 0, 0.9) 0.5s;

                        #amount-card {
                            font-size: 24px;
                            color: vars.$accent;
                            line-height: 1.9;
                            margin-right: 17px;
                        }
                    }

                    .filterTwo {
                        position: relative;
                        opacity: 0;
                        transform: translateX(300px);

                        transition: transform 1s cubic-bezier(0, 0, 0, 0.9), opacity 1s cubic-bezier(0, 0, 0, 0.9) 0.5s;

                        /*&:after {
                            content: " ";
                            position: absolute;
                            width: 20px;
                            height: 32px;
                            background-image: url('../img/icons/ArrowDown.svg');
                            background-repeat: no-repeat;
                            background-size: 20px 19px;
                            top: 12px;
                            right: 54px;
                        }*/

                        label {
                            font-weight: 400;
                            font-size: 16px;
                            color: vars.$text;
                            margin-right: 17px;
                        }

                        select {
                            width: 220px;
                            height: 42px;
                            padding-left: 14px;
                            background-color: vars.$accent__on-hower__oppas20;
                            border-radius: 6px;
                            border: none;
                            font-weight: 400;
                            font-size: 16px;
                            color: vars.$title-p;
                            position: relative;

                            option {
                                background-color: vars.$title-light;
                            }
                        }
                    }

                    .appearcounter-cardfilterTwo {
                        opacity: 1;
                        transform: translateX(0px);
                    }

                    @keyframes appearbth-filter {

                        to {

                            transform: translateY(0px);
                        }

                        0% {
                            opacity: 0;
                        }

                        25% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                    .bth-filter {
                        display: none;
                        width: 220px;
                        height: 42px;
                        text-transform: none;
                        font-weight: 400;
                        font-size: 16px;
                        border-radius: 6px;
                        opacity: 0;
                        transform: translateX(-300px);
                        animation: appearbth-filter 1.5s cubic-bezier(0, 0, 0, 0.9) forwards;
                    }
                }

                .catalogCategories__cards-goods__wrapperForCards {
                    height: 1532px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    //transition: vars.$main__transition;
                    .wrapperFor6Cards {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                .catalogCategories__cards-goods__pageNavigation {
                    display: flex;
                    justify-content: center;

                    .active {
                        background-color: vars.$accent;
                        color: vars.$title-light;
                        border: 1px solid vars.$accent;
                    }


                    button {
                        width: 48px;
                        height: 48px;
                        background: none;
                    }

                    span {
                        width: 48px;
                        height: 48px;
                        display: block;
                        border: 1px solid vars.$text;
                        border-radius: 4px;
                        margin: 0 2px;
                        text-align: center;
                        padding-top: 9px;
                        color: vars.$text;
                        font-weight: 500;
                        cursor: pointer;
                    }


                }
            }

            .catalogCategories__cards-goodsIgnorRemToPx {
                min-width: 1255px;
                //width: 1248px;
                width: 1255px;

                .catalogCategories__cards-goods__wrapperForCards {
                    .wrapperFor6Cards {
                        width: 1279px;
                        column-gap: 24px;
                        row-gap: 40px;

                        .allPageCard {
                            width: 400px;
                        }
                    }
                }
            }
        }

    }
}


@media screen and (max-width: 1820px) {
    main {
        .catalogCategories {
            padding-bottom: 80px;

            .catalogCategories__wrapperForFilter {
                .catalogCategories__cards-goods {
                    margin: 0 auto;

                    .catalogCategories__cards-goods__counter-filterTwo {
                        align-items: baseline;
                        margin-bottom: 17px;

                        .counter-card {
                            #amount-card {
                                line-height: 1.2;
                            }
                        }
                    }

                    .catalogCategories__cards-goods__wrapperForCards {
                        height: 2299px;
                    }
                }

                .catalogCategories__cards-goodsIgnorRemToPx {
                    min-width: 840px;
                    width: 840px;

                    .catalogCategories__cards-goods__wrapperForCards {
                        .wrapperFor6Cards {
                            width: 864px;
                            column-gap: 40px;
                            row-gap: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    main {
        .catalogCategories {
            .catalogCategories__select-catagory {
                p {
                    height: 53px;
                }
            }

            .catalogCategories__wrapperForFilter {
                .catalogCategories__cards-goods {
                    margin: 0;
                }
            }
        }

    }
}

@media screen and (max-width: 1380px) {
    main {
        .catalogCategories {
            .catalogCategories__wrapperForFilter {
                justify-content: center;

                .filter {
                    display: none;
                    position: fixed;
                    top: 0px;
                    width: 100vw;
                    height: 100%;
                    margin-right: 0;
                    background-color: vars.$bg-modal;
                    z-index: 11;

                    .filter__form {
                        width: 394px;
                        height: 705px;
                        padding: 40px 60px;
                        border-radius: 16px;
                        background-color: vars.$title-light;
                        margin: 99px auto 0;

                        #apply-filter {
                            width: 274px;
                        }
                    }

                    .filter__close {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 45px;
                        right: 25.4%;
                        width: 44px;
                        height: 44px;
                        background-color: vars.$title-light;
                        border-radius: 50px;

                        svg {
                            pointer-events: none;
                        }
                    }
                }

                .visible {
                    display: block;
                }

                .catalogCategories__cards-goods {
                    .catalogCategories__cards-goods__counter-filterTwo {
                        flex-wrap: wrap;
                        margin-bottom: 22px;
                        row-gap: 16px;

                        .counter-card {
                            margin-right: 50%;
                            margin-bottom: 10px;

                            #amount-card {
                                line-height: 1.3;
                            }
                        }

                        .bth-filter {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                margin-right: 14px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        .allPageCard {
            height: 656px;

            .allPageCard__swiperImg {
                flex: 4.1;

                .swiper-wrapper {
                    height: 95%;

                    .swiper-slide {
                        a {
                            img {
                                //max-height: 293px;
                            }
                        }
                    }
                }
            }

            .allPageCard__raiting {
                flex-direction: column;
                margin-top: 20px;

                p {
                    text-align: left;
                }
            }


            h4 {
                font-size: clamp(18px, 5vw - 31px, 24px);

            }

            p {
                font-size: clamp(14px, 5vw - 31px, 16px);
                line-height: 1.4;
            }
        }

        .allPageCardIgnorRemToPx {
            padding: 24px 13px 24px 17px;
        }

        .allPageCard__buy {
            flex-wrap: wrap;
            justify-content: start;

            .price {
                text-align: left;
                width: 85%;
            }

            .allPageCard__buy__a {
                margin: 0;

            }
        }

        .catalogCategories {
            .catalogCategories__select-catagory {
                flex-wrap: wrap;
            }

            //.radio-category{}
            .catalogCategories__wrapperForFilter {
                .catalogCategories__cards-goods {
                    .catalogCategories__cards-goods__wrapperForCards {
                        height: 1949px;

                        .wrapperFor6Cards {
                            .allPageCard {
                                height: 630px;
                            }
                        }
                    }
                }

                .catalogCategories__cards-goodsIgnorRemToPx {
                    min-width: 740px;
                    width: 740px;

                    .catalogCategories__cards-goods__wrapperForCards {
                        .wrapperFor6Cards {
                            width: 764px;
                            column-gap: 20px;
                            row-gap: 20px;

                            .allPageCard {
                                width: 360px;
                                padding: 24px 21px 24px 21px;

                                .allPageCard__swiperImg {
                                    flex: 6.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 790px) {
    main {
        
        .catalogCategories {
            .catalogCategories__wrapperForFilter {
                .filter {
                    .filter__close {
                        right: 17%;
                    }
                }

                .catalogCategories__cards-goods {


                    .catalogCategories__cards-goods__counter-filterTwo {
                        .counter-card {
                            #amount-card {
                                line-height: 1.5;
                            }
                        }

                        .filterTwo {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            width: min-content;

                            label {
                                margin-bottom: 5px;
                            }

                            /*&:after {
                                top: 28px;
                                right: 33px;
                            }*/
                        }

                        .bth-filter {
                            align-self: flex-end;
                        }
                    }

                    .catalogCategories__cards-goods__wrapperForCards {
                        height: 2029px;

                        .wrapperFor6Cards {

                            .allPageCard {
                                height: 656px;
                            }
                        }
                    }
                }

                .catalogCategories__cards-goodsIgnorRemToPx {
                    min-width: 540px;
                    width: 540px;

                    .catalogCategories__cards-goods__wrapperForCards {
                        .wrapperFor6Cards {
                            width: 564px;

                            .allPageCard {
                                width: 260px;
                                padding-left: 8.5px;
                                padding-right: 8.5px;

                                .allPageCard__swiperImg {
                                    flex: 4.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 735px) {
    main {
        .allPageCard {
            .allPageCard__swiperImg {
                flex: 4.5;

            }

        }

        .catalogCategories {

            .catalogCategories__select-catagory {
                p {
                    height: 40px;
                }
            }

            .catalogCategories__wrapperForFilter {
                .catalogCategories__cards-goods {
                    .catalogCategories__cards-goods__counter-filterTwo {}
                }
            }
        }
    }
}

@media screen and (max-width: 590px) {
    main {
        .catalogCategories {
            padding-bottom: 60px;

            .catalogCategories__select-catagory {
                p {
                    padding: 0;
                    //padding: 0 28px;
                }
            }

            .catalogCategories__wrapperForFilter {
                .filter {
                    .filter__form {
                        width: 320px;
                        max-width: 100vw;
                        height: 684px;
                        padding: 40px 30px;
                        margin-top: 110px;

                        .filter__form__price-range {
                            .price-range__price-input {
                                .field {

                                    span {
                                        &:first-child {
                                            flex: 1;
                                            margin-right: 0;
                                        }

                                        &:last-child {
                                            flex: 1;
                                            position: static;
                                            text-align: left;
                                        }
                                    }

                                    input {
                                        flex: 1 0;
                                        padding-left: 0;
                                        text-align: right;
                                        min-width: 43%;
                                    }
                                }
                            }
                        }

                        .wrapperForSvgFilter {
                            right: 38px;
                        }

                        #apply-filter {
                            width: 260px;
                            height: 47px;
                            font-size: 14px;
                            max-width: 100%;
                        }
                    }

                    .filter__close {
                        right: 0;
                        top: 56px;
                    }
                }

                .catalogCategories__cards-goods {


                    .catalogCategories__cards-goods__counter-filterTwo {
                        .counter-card {
                            #amount-card {
                                line-height: 1.4;
                            }
                        }

                        .filterTwo {
                            max-width: 100%;

                            #sortingList {
                                max-width: 100%;
                            }
                        }
                    }

                    .catalogCategories__cards-goods__wrapperForCards {
                        height: 4057px;
                    }
                }

                .catalogCategories__cards-goodsIgnorRemToPx {
                    min-width: 260px;
                    width: 260px;

                    .catalogCategories__cards-goods__wrapperForCards {
                        .wrapperFor6Cards {
                            width: 284px;
                        }
                    }
                }

            }


        }
    }
}