main iframe {
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main .contacts .container {
  display: flex;
  column-gap: 20px;
}
@keyframes appearcontactsItems {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .contacts .contacts__more-detail,
main .contacts .contacts__map {
  opacity: 0;
  clip-path: polygon(46% 43%, 57% 43%, 51% 48%, 40% 48%);
  animation: appearcontactsItems 0.5s cubic-bezier(0, 0, 0, 0.9) forwards;
}
main .contacts .contacts__more-detail {
  flex: 1 1 829px;
  background-color: #FFFFFF;
  border-radius: 24px;
  margin: 11px 0 17px;
}
main .contacts .contacts__more-detail h2 {
  margin-bottom: 39px;
}
main .contacts .contacts__more-detail h2 .line {
  justify-content: start;
}
main .contacts .contacts__more-detail p {
  font-weight: 400;
  font-size: 18px;
  color: #0D0D0D;
  line-height: 1.4;
}
main .contacts .contacts__more-detail span {
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  line-height: 1.4;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 36px;
  padding-bottom: 31px;
  border-bottom: 1px solid #BBBBBB;
  column-gap: 7%;
}
@keyframes appearfirst-of-typeitem {
  to {
    transform: translateY(0px);
  }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  row-gap: 3px;
  opacity: 0;
  transform: translateY(100px);
  animation: appearfirst-of-typeitem 1s cubic-bezier(0, 0, 0, 0.9) forwards;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item p {
  grid-column: 2;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item:last-child span {
  grid-column: 2;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type {
  padding-top: 32px;
  padding-bottom: 39px;
}
@keyframes appearlast-of-typeitem {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  opacity: 0;
  clip-path: polygon(46% 48%, 53% 48%, 53% 55%, 46% 55%);
  animation: appearlast-of-typeitem 1s cubic-bezier(0, 0, 0, 0.9) 0.5s forwards;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item span:first-of-type {
  font-size: 16px;
  align-self: start;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item p {
  letter-spacing: -1.1px;
  line-height: 1.22;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child {
  grid-template-columns: 0.72fr 1fr 0.99fr;
  margin-bottom: 32px;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child span:last-of-type {
  padding-right: 7%;
}
main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:last-child {
  grid-template-columns: 0.36fr 1fr;
}
@keyframes appearmodalquestionBtn {
  to {
    transform: scale(1);
  }
}
main .contacts .contacts__more-detail a {
  width: 320px;
  height: 63px;
  transform: scale(0);
  animation: appearmodalquestionBtn 1s cubic-bezier(0, 0, 0, 0.9) 1s forwards;
}
main .contacts .contacts__more-detailIgnorPxToRem {
  padding: 42px 50px 42px 50px;
}
main .contacts .contacts__map {
  position: relative;
  flex: 1 1 829px;
}
main .contacts .contacts__map iframe {
  border: hidden;
}

@media screen and (max-width: 1400px) {
  main .contacts {
    padding-bottom: 84px;
  }
  main .contacts .container {
    flex-direction: column;
    row-gap: 20px;
  }
  main .contacts .contacts__more-detail {
    width: auto;
    margin: 0;
    flex: initial;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type {
    grid-template-columns: 0.44fr 1fr;
    column-gap: 4%;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child {
    grid-template-columns: 0.44fr 1.1fr 0.75fr;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child span:last-of-type {
    padding-right: 25%;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:last-child {
    grid-template-columns: 0.24fr 1fr;
  }
  main .contacts .contacts__more-detailIgnorPxToRem {
    padding-right: 98px;
  }
  main .contacts .contacts__map {
    flex: initial;
    width: auto;
    height: clamp(437px, 50vw, 681px);
  }
}
@media screen and (max-width: 1100px) {
  main .contacts .contacts__more-detail p {
    line-height: 1.36;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type {
    grid-template-columns: auto;
    row-gap: 0;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item:first-child {
    margin-bottom: 38px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child {
    margin-bottom: 32px;
    grid-template-columns: 0.57fr 1fr 0.95fr;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child span:last-of-type {
    padding-right: 7%;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:last-child {
    grid-template-columns: 0.22fr 0.7fr;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items .contacts__more-detail__item:not(:last-of-type) {
    margin-bottom: 36px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items .contacts__more-detail__item:nth-of-type(2) {
    grid-row: 3/3;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items .contacts__more-detail__item:nth-of-type(3) {
    margin-bottom: 32px;
  }
  main .contacts .contacts__more-detailIgnorPxToRem {
    padding-right: 50px;
  }
}
@media screen and (max-width: 735px) {
  main .contacts .contacts__more-detail {
    padding-right: 17px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item {
    row-gap: 4px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item span:first-of-type {
    margin-bottom: 4px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child {
    grid-template-columns: auto auto;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child span:last-of-type {
    grid-column: 2;
    padding-right: 0;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child p {
    grid-column: 1;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:last-child {
    grid-template-columns: auto;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:last-child p {
    padding-right: 23px;
  }
  main .contacts .contacts__more-detailIgnorPxToRem {
    padding-right: 17px;
  }
  main .contacts .contacts__map {
    height: clamp(266px, 70vw - 7px, 437px);
  }
}
@media screen and (max-width: 580px) {
  main .contacts .container {
    width: auto;
  }
  main .contacts .contacts__more-detail {
    padding: 40px 29px;
    background-color: #FFFFFF;
  }
  main .contacts .contacts__more-detail p {
    font-size: 16px;
    line-height: 1.36;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type {
    padding-bottom: 24px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item:first-of-type {
    margin-bottom: 24px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item:not(:last-of-type) p {
    padding-right: 48px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:first-of-type .contacts__more-detail__item:last-of-type span {
    display: block;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type {
    padding-top: 24px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item {
    grid-template-columns: auto;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item p {
    line-height: 1.37;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child {
    margin-bottom: 24px;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items:last-of-type .contacts__more-detail__item:first-child span:last-of-type {
    grid-column: 1;
    padding-right: 6%;
  }
  main .contacts .contacts__more-detail .contacts__more-detail__items .contacts__more-detail__item:not(:last-child) {
    margin-bottom: 24px;
  }
  main .contacts .contacts__more-detail a {
    width: clamp(260px, 60vw - 25px, 320px);
    height: clamp(45px, 15vw - 23px, 63px);
    font-size: clamp(14px, 5vw - 8px, 18px);
    max-width: 91vw;
  }
  main .contacts .contacts__more-detailIgnorPxToRem {
    padding: 40px 29px;
  }
}

/*# sourceMappingURL=contacts.css.map */
