@use 'vars';

main {
    .links-online-store {
        display: flex;
        column-gap: 16px;


        a {
            position: relative;
            padding-top: 0;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                border-radius: 8px;
            }

            &:hover {
                &:before {
                    background-color: vars.$title-light__while-pressing__oppas40;
                    transition: vars.$main__transition;
                }
            }

            &:active {
                &:before {
                    background-color: vars.$market-active;
                    transition: vars.$main__transition;
                }
            }
        }

    }

    .forCategoryAllPages {
        display: flex;

        p {
            display: flex;
            border: 1px solid vars.$border-color;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            //height: 59px;
            background-color: vars.$title-light;
            padding: 14px 13.5px;
            font-weight: 500;
            font-size: clamp(14px, 2vw - 18px, 20px);
            color: vars.$title;
            letter-spacing: 0.5px;
            //min-width: max-content;

            span {
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 1px solid vars.$text-light;
                color: vars.$text;
                margin-left: 16px;
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                padding-top: 2px;
                flex-shrink: 0;
                pointer-events: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .highlighted {
            background-color: vars.$accent;
            border: 1px solid vars.$accent;
            transition: vars.$main__transition;
            color: vars.$title-light;
            transition: vars.$main__transition;

            span {
                border: 1px solid vars.$title-light;
                color: vars.$title-light;

            }
        }
    }

    .howToBuy {

        .container {
            max-width: 1038px;

            p {
                line-height: 1.4;
                font-size: 16px;
                clip-path: polygon(48% 45%, 55% 45%, 55% 52%, 49% 52%);
                animation: appearhowToBuyTxt 1s cubic-bezier(0, 0, 0, 0.9) forwards;
            }
            /*p {
                line-height: 1.4;
                font-size: 16px;
            }

            & > p {
                clip-path: polygon(48% 45%, 55% 45%, 55% 52%, 49% 52%);
                animation: appearhowToBuyTxt 1s cubic-bezier(0, 0, 0, 0.9) forwards;
            }*/


            .howToBuy__categories {
                column-gap: 4px;
                width: 93%;
                margin: 24px 0 clamp(24px, 4vw - 36px, 40px);

                @keyframes appearhowToBuy {

                    to {

                        transform: translateY(0px);
                    }

                    to {
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                    }

                    0% {
                        opacity: 0;
                    }

                    25% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                p {
                    font-size: 20px;
                    opacity: 0;
                    transform: translateY(120px);

                    &:nth-child(2) {
                        transform: translateY(70px);
                    }

                    animation: appearhowToBuy 1s cubic-bezier(0, 0, 0, 0.9) forwards;
                }
            }

            .howToBuy__marketplace {
                display: flex;
                flex-direction: column;
                align-items: center;

                @keyframes appearhowToBuyTxt {
                    to {
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                    }
                }

                /*p {
                    clip-path: polygon(48% 45%, 55% 45%, 55% 52%, 49% 52%);
                    animation: appearhowToBuyTxt 1s cubic-bezier(0, 0, 0, 0.9) forwards;
                }*/

                .links-online-store {
                    margin-top: 22px;
                    width: 482px;

                    a {
                        transform: translateY(120px);

                        &:nth-child(2) {
                            transform: translateY(70px);
                        }

                        animation: appearhowToBuy 1s cubic-bezier(0, 0, 0, 0.9) forwards;
                    }
                }
            }



            .hide {
                display: none;
            }
        }
    }

}

@media screen and (min-width: 1401px) {
    main {}
}

@media screen and (max-width: 1820px) {
    main {}
}

@media screen and (max-width: 1400px) {
    main {}
}

@media screen and (max-width: 1380px) {
    main {}
}

@media screen and (max-width: 1100px) {
    main {
        .howToBuy {
            .container {
                p {
                    line-height: 1.38;
                }

                .howToBuy__categories {
                    width: clamp(93%, 900px - 20vw, 100%);

                    p {
                        height: 51px;
                        font-size: clamp(14px, 3vw - 13px, 20px);

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {}
}

@media screen and (max-width: 790px) {
    main {}
}

@media screen and (max-width: 735px) {
    main {}
}

@media screen and (max-width: 590px) {
    main {}
}

@media screen and (max-width: 580px) {
    main {
        .howToBuy {


            .container {
                h2 {
                    line-height: 1.29;
                }

                p {
                    font-size: clamp(14px, 10vw - 42px, 16px);
                }

                .howToBuy__categories {
                    flex-direction: column;
                    margin: clamp(16px, 6vw - 10px, 24px) 0 clamp(16px, 6vw - 10px, 24px);

                    p {
                        height: clamp(39px, 10vw - 1px, 51px);

                        @for $i from 1 through 100 {
                            &:nth-child(n + #{$i}) {
                                transform: translateY($i * 30px);
                            }
                        }
                    }
                }

                .howToBuy__marketplace {
                    p {
                        line-height: 1.44;
                    }

                    .links-online-store {
                        width: clamp(260px, 100vw - 97px, 482px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    main {}
}

@media screen and (max-width: 320px) {
    main {}
}