//@use 'main';
//@use 'normalize';
//@use 'swiper-bundle.min';
@use 'vars';

body {
    .sizewindow {
        position: fixed;
        background: white;
        border: 2px solid green;
        z-index: 5;
    }

    .progress {
        background: linear-gradient(90deg, rgba(45, 130, 34, 1) 0%, rgba(115, 193, 103, 1) 50%, rgba(176, 230, 129, 1) 100%);
        height: 0.5vw;
        position: fixed;
        top: 0px;
    }

    .scrPosY {
        position: fixed;
        background: white;
        border: 2px solid green;
        z-index: 5;
        right: 1vw;
        top: 4vw;
    }

    .forSmoothScroll {
        position: fixed;
        width: 100%;
        height: 100vh;

        .forSmoothScroll__wrapper {
            main {
                overflow-y: hidden;
            }

            @keyframes appear {
                from {
                    opacity: 0;
                    transform: translateY(200px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }

    }
}

main {
    .links-online-store {
        display: flex;
        column-gap: 16px;
        width: 17vw;

        a {
            padding-top: 0;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                border-radius: 8px;
            }

            &:hover {
                &:before {
                    background-color: vars.$title-light__while-pressing__oppas40;
                    transition: vars.$main__transition;
                }
            }

            &:active {
                &:before {
                    background-color: vars.$market-active;
                    transition: vars.$main__transition;
                }
            }
        }

    }

    .stars {
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 20px;
        margin-left: 2px;

        .star {
            position: relative;
            width: 20px;

            &:before {
                content: "★";
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1;
                font-size: 20px;
            }
        }

        .fill {
            &:before {

                color: vars.$accent;
            }
        }

        .empty {
            &:before {
                color: vars.$star-off-color;
            }
        }

        .half {
            &:before {
                /*background-image: linear-gradient(90deg, vars.$accent 50%, vars.$star-off-color 50%);*/
                background-image: -webkit-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -moz-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -o-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                background-image: -ms-linear-gradient(0deg, vars.$accent 50%, vars.$star-off-color 50%);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                font-size: 22px;
                top: -1px;
            }
        }
    }

    .review {
        display: flex;
        flex-direction: column;
        background-color: vars.$title-light;
        border-radius: 32px;

        h4 {
            line-height: 1.4;
            color: vars.$title;
        }

        p {
            line-height: 1.37;
            margin: 15px 0 31px;
        }

        .full-review {
            display: flex;
            align-items: center;
            margin-top: auto;

            .name-box {
                display: flex;
                flex-direction: column;

                .name,
                .date {
                    font-weight: 400;
                }

                .name {
                    font-size: 16px;
                    color: vars.$title;
                    line-height: 2;
                }

                .date {
                    font-size: 12px;
                    color: vars.$text;
                    line-height: 1.7;
                }
            }


        }
    }

    .custom-input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;

        & {
            position: relative;
            font-size: 12px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            height: 16px;
            color: vars.$text;

            &::before {
                content: " ";
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                width: 20px;
                height: 20px;
                background-color: vars.$title-light;
                border: 1px solid vars.$border-color;
                border-radius: 0px;
                box-shadow: none;
            }
        }

        &:checked::after {
            content: " ";
            background-image: url("../img/icons/checkedMark.svg");
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position: center center;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0px;
            left: 3px;
            top: 1px;
            text-align: center;
            background-color: transparent;
            font-size: 10px;
            height: 16px;
            width: 16px;

        }

        &:checked {
            color: vars.$accent;
        }

        &:checked::before {
            border-color: vars.$accent;
        }
    }

    .allPageCard {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 726px;
        background-color: vars.$title-light;
        border-radius: 8px;
        //border: 1px solid black;

        .allPageCard__swiperImg {
            overflow: hidden;
            flex: 7;

            .swiper-wrapper {
                height: 98%;

                .swiper-slide {
                    padding: 0 0;
                    opacity: 1;
                    height: inherit;

                    a {
                        padding-top: 0;
                        height: 100%;

                        img {
                            height: 100%;
                        }
                    }

                }
            }

            .swiper-card__swiperImg-pagination {
                display: flex;
                justify-content: center;
                align-items: end;
                margin-top: 4px;

                .swiper-pagination-bullet {
                    width: 53px;
                    height: 3px;
                    margin: 0 1px;
                    border-radius: 0px;
                    background-color: vars.$accent;
                }

                .swiper-pagination-bullet-active {
                    height: 5px;
                }
            }

        }

        .allPageCard__raiting {
            display: flex;
            margin-top: 19px;

            p {
                font-size: 12px;
                text-align: right;
            }
        }

        h4 {
            margin: 14px 0;
            line-height: 1.4;
            text-align: left;
            color: vars.$title;
        }

        p {
            line-height: 1.35;
            text-align: left;
            flex: 1;
        }

    }

    .allPageCardIgnorRemToPx {
        padding: 24px 18px 24px 17px;
    }

    .allPageCard__buy {
        display: flex;
        justify-content: space-between;
        row-gap: 5px;
        column-gap: 9px;

        span {
            font-weight: 500;
            font-size: 24px;
            color: vars.$accent;
        }

        .allPageCard__buy__a {
            width: 160px;
            height: 35px;
            column-gap: 7%;
            position: relative;
            border-radius: 4px;
            font-weight: 700;
            font-size: 14px;
            margin-left: auto;

            .allPageCard__buy__a__img {}

            .allPageCard__buy__a__txt {
                font-size: 14px;
                font-weight: 700;
                color: vars.$title-light;

            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 35px;
            background-color: vars.$title-light;
            border-radius: 4px;
            border: 1px solid vars.$accent;

            img {
                width: 14px;
                height: 14px;
            }

            &:hover {
                background-color: vars.$accent__on-hower__oppas20;
                transition: vars.$main__transition;
            }

            &:active {
                background-color: vars.$accent__while-pressing__oppas40;
                transition: vars.$main__transition;
            }
        }
    }

    /*&&&&&&&&&&&      index             &&&&&&&&&&&&&&*/
    .index-offer {
        //width: clamp(1083px, 100vw - 240px, 1680px);
        width: 88%;
        margin: 0 auto;
        padding-top: clamp(19px, calc(10vw - 128px), 40px);
        padding-bottom: 55px;

        .index-offer__container {
            display: flex;
            column-gap: 29px;

            .index-offer__swiper {
                width: 66%;
                opacity: 0;
                transform: translateX(-300px);
                transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                .swiper-wrapper {
                    height: auto;

                    .swiper-slide {
                        display: flex;
                        width: fit-content;
                        background-color: vars.$title-light;
                        border-radius: 32px;

                        .swiper-slide__items {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            padding-top: 94.4px;
                            padding-bottom: 52.8px;
                            padding-left: 52.8px;
                            //background: vars.$accent;
                            background-image: url("../img/Vector.webp");
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            z-index: 1;
                            width: 70%;
                            /*&:after{
                                content: "";
                                background-image: url("../img/bgIndexofferSwiper.png");
                                background-repeat: no-repeat;
                                border: 1px solid black;
                            }*/


                            .swiper-slide__items__top {
                                width: 120px;
                                height: 38px;
                                font-weight: 400;
                                color: vars.$title;
                                border-radius: 300px;
                                background-color: vars.$hit;
                                text-align: center;
                                line-height: 37.8px;

                                opacity: 0;
                                transform: translateY(100px);
                                transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                            }

                            .swiper-slide__items__info1 {
                                width: 336px;
                                margin: 14px 0;
                                color: vars.$title-light;
                                line-height: 1.38;
                                display: flex;
                                align-items: center;
                                opacity: 0;
                                transform: translateY(200px);
                                transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                            }

                            .swiper-slide__items__info2 {
                                width: 320px;
                                font-weight: 400;
                                font-size: 18px;
                                color: vars.$title-light;
                                line-height: 1.33;
                                opacity: 0;
                                transform: translateY(250px);
                                transition: all 1s cubic-bezier(0, 0, 0, 0.9);
                            }

                            .swiper-slide__items__block-buy {
                                display: flex;
                                column-gap: 14px;
                                margin-top: 132px;

                                a {
                                    width: 232px;
                                    height: 63px;
                                    border: 1px solid vars.$title-light;
                                    transform: scale(0);
                                    transition: all 1s cubic-bezier(0, 0, 0, 0.9);
                                }

                                .appearIndexOfferSwiperItemsBlock-buyA {
                                    transform: scale(1);
                                }

                                .swiper-slide__items__buy {
                                    color: vars.$text;
                                    background-color: vars.$title-light;

                                    &:hover {
                                        background-color: vars.$title-light__on-hower;
                                        transition: vars.$main__transition;

                                    }


                                    &:active {
                                        background-color: vars.$title-light__while-pressing;
                                        transition: vars.$main__transition;
                                    }
                                }

                                .swiper-slide__items__more-details {
                                    color: vars.$title-light;

                                    &:hover {
                                        background-color: vars.$title-light__on-hower__oppas20;
                                        transition: vars.$main__transition;

                                    }

                                    &:active {
                                        background-color: vars.$title-light__while-pressing__oppas40;
                                        transition: vars.$main__transition;
                                    }
                                }
                            }

                            .appearIndexOfferSwiperitems {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }

                        picture {
                            position: absolute;
                            z-index: 0;
                            height: inherit;
                            width: 100%;

                            img {
                                position: absolute;
                                right: 0;
                                width: 60%;
                                height: 100%;
                                border-radius: 0 32px 32px 0;
                                //object-fit: cover;
                            }
                        }

                    }
                }

                .index-offer__swiper__pagination {
                    width: 72px;
                    margin: 23px auto 0;
                    position: relative;
                    z-index: 1;

                    span {
                        width: 16px;
                        height: 16px;

                        &.swiper-pagination-bullet {
                            background-color: vars.$text-light;
                        }

                        &.swiper-pagination-bullet-active {
                            background-color: vars.$accent;
                        }

                    }
                }

            }

            .appearIndex-offer__swiper {
                opacity: 1;
                transform: translateY(0px);
            }


            .index-offer__online-store {
                position: static;
                display: flex;
                width: 34%;
                height: 620px;
                padding-top: 12px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 32px;
                background-color: vars.$title-light;
                background-image: url('../img/online-store__background__top.webp'), url('../img/online-store__background__bottom.webp');
                background-position: 105% -37%, -13% 127%;
                background-repeat: no-repeat, no-repeat;
                background-size: 75%, 74%;

                opacity: 0;
                transform: translateX(300px);
                transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                .index-offer__online-store__wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    transform: translate(100px, 100px);
                    transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                    p {
                        margin: 14px 0 25px;
                        padding: 0 16%;
                    }
                }

                .links-online-store {
                    a {
                        opacity: 0;

                        transition: all 1s cubic-bezier(0, 0, 0, 0.9);

                        &:nth-child(2) {
                            transform: translate(0, 6vh);
                        }

                        &:nth-child(odd) {
                            transform: translate(0, 10vh);
                        }
                    }

                    .appearlinks-online-store {
                        opacity: 1;

                        &:nth-child(2) {
                            transform: translate(0, 0);
                        }

                        &:nth-child(odd) {
                            transform: translate(0, 0);
                        }

                    }

                }

                .appearIndex-offer__online-storeContent {
                    opacity: 1;
                    transform: translate(0, 0);
                }


            }

            .appearIndex-offer__online-store {
                opacity: 1;
                transform: translateY(0px);
            }


        }

    }

    .index-advantages {
        max-width: 1214px;
        margin: 0 auto;
        padding-bottom: clamp(70px, 108px - 2vw, 80px);
        opacity: 0;

        h1 {
            text-align: center;
            line-height: 1.4;
        }

        .index-advantages__block {
            display: flex;
            margin: 22px 0 44px;
            max-width: 100vw; //fix for rem units

            .index-advantages__block__item {
                text-align: center;
                flex: 1;

                &:nth-child(2) {
                    flex: 1.14;
                }

                img {
                    margin: 0 auto;
                }

                .index-advantages__block__item__wrapper {
                    h4 {
                        margin: 17px 0 5px;
                        line-height: 1.3;
                    }

                    p {
                        text-align: center;
                        padding: 0 55px;
                    }
                }


            }
        }

        .index-advantages__wrapper-links {

            width: auto;
            justify-content: center;
            display: flex;
            column-gap: 24px;

            a {
                width: 320px;
                height: 63px;
            }
        }

    }

    .index-catalog {
        background-color: vars.$title-light;
        border-radius: clamp(90px, 10vw - 50px, 120px);
        text-align: center;
        padding: 80px 0;
        max-width: 1920px;
        margin: 0 auto;
        overflow: hidden;

        h2 {
            line-height: 1.4;

            &:first-child {
                .line {
                    .wrapperForWord {
                        &:first-child {
                            color: vars.$accent;
                        }
                    }
                }
            }

            &:last-of-type {

                .line {
                    .wrapperForWord {
                        &:nth-child(3) {
                            color: vars.$accent;
                        }
                    }
                }
            }

        }

        .swiper-card {
            //border: 1px solid red;
            max-width: 100vw;
            width: clamp(1160px, 100vw - 240px, 1680px);
            margin: 57px auto 0;
            position: relative;

            .swiper-wrapper {
                .swiper-slideIndexVisible {
                    opacity: 0.5;
                }

                .swiper-slide-visible {
                    opacity: 1;
                }


                .addAnimSwiperIndex {
                    @for $i from 1 through 100 {
                        &:nth-child(n + #{$i}) {
                            transform: translate3d($i * 150px, 0px, 0px);
                        }
                    }

                    //opacity: 0;
                    transition: transform 1s,
                    opacity 1s;
                }

                .swiper-slideIndexVisible {


                    @for $i from 1 through 100 {
                        &:nth-child(n + #{$i}) {
                            transform: translate3d(0px, 0px, 0px);
                        }
                    }

                    //opacity: 1;
                }



            }
        }
    }

    .catalog-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: clamp(1160px, 100vw - 240px, 1680px);
        max-width: 100vw;
        margin: 62px auto 62px;


        .catalog-categories__category {
            display: flex;
            justify-content: flex-start;
            column-gap: 8%;
            border: 1px solid vars.$text-light;
            text-transform: none;
            padding: 20px 0;
            border-radius: 0;

            &:hover {
                background-color: vars.$text-light__on-hower__oppas20;
                transition: vars.$main__transition;
            }


            &:active {
                background-color: vars.$text-light__while-pressing__oppas60;
                transition: vars.$main__transition;
            }

            img {
                margin-left: 7%;
            }

            .catalog-categories__category__wrapper {
                display: flex;
                align-items: center;
                flex: 1;

                p {
                    font-weight: 500;
                    font-size: clamp(18px, 2vw - 16px, 20px);
                    color: vars.$title;
                    letter-spacing: 0.4px;
                    line-height: 25px;
                    text-align: left;
                }

                span {
                    display: inline-block;
                    margin-left: 3%;
                    width: 22px;
                    height: 22px;
                    border: 1px solid vars.$text-light;
                    color: vars.$text;
                    font-weight: 400;
                    font-size: 12px;
                }
            }

        }

        .index-catalog__goToCatalog {
            border-radius: 0px;
        }
    }

    .index-aboutUs {
        display: grid;
        grid-template-columns: 53.8% 46.2%;
        grid-template-rows: 4.8fr 1fr;
        max-width: 1755px;
        margin: 0 auto;
        padding: clamp(80px, 10vw - 92px, 100px) 0 clamp(80px, 10vw - 92px, 100px) 28px;

        aside {
            padding-right: 90px;

            h2 {
                margin-bottom: auto;
                line-height: 1.4;

                .line {
                    justify-content: start;
                }
            }

            p {
                margin-top: 12px;
                line-height: 1.38;
                letter-spacing: -0.1px;
            }
        }

        .index-aboutUs__wrapper-forswiper {
            grid-row: span 2;
            overflow: hidden;
            position: relative;
            margin-right: -85px;
            padding-top: 19px;

            .index-aboutUs__wrapper-forswiper__swiper-reviews {
                width: 62%;
                margin: 0 auto;

                .swiper-wrapper {
                    height: auto;

                    .swiper-slide {
                        opacity: 0.5;
                        padding: 33px 42px 23px 39px;
                        position: relative;
                        overflow: hidden;

                        .full-review {
                            justify-content: space-between;
                            row-gap: 5px;
                            /*//hide review text
                            background: white;
                            position: absolute;
                            bottom: 20px;
                            width: 86%;
                            height: 59px;

                            //hide review text
                            &:after {
                                content: "";
                                width: 100%;
                                height: 70%;
                                background-color: white;
                                position: absolute;
                                left: 0px;
                                bottom: -34px;
                            }*/

                            a {
                                width: 160px;
                                font-weight: 700;
                                font-size: 12px;
                                border-radius: 4px;
                                padding: 7px 0;
                                line-height: 1.25;
                            }

                        }
                    }

                    .swiper-slide-visible {
                        opacity: 1;
                    }
                }

                .index-aboutUs__wrapper-forswiper__swiper-reviews__pagination {
                    width: 73px;
                    margin: 40px auto 0;
                    position: relative;

                    span {
                        width: 16px;
                        height: 16px;

                        &.swiper-pagination-bullet {
                            background-color: vars.$text-light;
                        }

                        &.swiper-pagination-bullet-active {
                            background-color: vars.$accent;
                        }

                    }

                }
            }
        }

        .index-aboutUs__more-details-reviews {
            grid-row: 2;
            align-self: end;
            display: flex;
            gap: 24px;

            a {
                width: 320px;
                height: 63px;
            }
        }

    }

    /*&&&&&&&&&&&      index             &&&&&&&&&&&&&&*/

}

@media screen and (max-width: 1400px) {
    main {
        .index-offer {
            width: 84%;
            padding-bottom: 78px;

            .index-offer__container {
                flex-direction: column;
                row-gap: 65px;
                //flex-wrap: wrap;
                //display: block;

                .index-offer__swiper {
                    width: 100%;

                    .swiper-wrapper {
                        .swiper-slide {
                            .swiper-slide__items {
                                padding-top: 8%; //fix for rem units
                                width: 66.3%;
                            }
                        }

                    }
                }

                .index-offer__online-store {
                    flex-direction: row;
                    width: auto;
                    max-width: none;
                    height: 260.8px;
                    column-gap: 24.96px;
                    padding-top: 30px;
                    background-position: 122% 97%, -4% calc(200px - 14vw);
                    background-size: 37%, 27%;
                    opacity: 0;
                    transform: translate(0px, 300px);

                    .index-offer__online-store__wrapper {
                        opacity: 0;
                        transform: translate(0px, 100px);

                        h3 {
                            margin: 0 1vw;
                        }

                        p {
                            padding: 0;
                            width: 25vw;
                        }
                    }

                    .appearIndex-offer__online-storeContent {
                        opacity: 1;
                        transform: translate(0, 0);
                    }

                    .links-online-store {
                        margin-top: -42px;
                        width: 24vw;

                    }


                }
            }
        }

        .index-advantages {
            max-width: 1128px;

            .index-advantages__block {
                .index-advantages__block__item {
                    .index-advantages__block__item__wrapper {
                        p {
                            padding: 0 42px;
                        }
                    }


                }
            }
        }

        .catalog-categories {
            width: clamp(540px, 100vw - 61px, 1160px);

            .catalog-categories__category {
                justify-content: center;
                column-gap: 0;
                padding: 20px 8%;

                img {
                    margin-left: 0;
                }

                .catalog-categories__category__wrapper {
                    flex: initial;

                    p {
                        padding: 0 1vw;
                        letter-spacing: 0.3px;
                    }

                    span {
                        margin-left: 0;
                    }
                }
            }
        }

        .index-aboutUs {
            display: block;
            padding: clamp(5rem, 10vw - 5.75rem, 6.25rem) clamp(0rem, 50vw - 446px, 254px);

            aside {
                padding: 0 22px;

                h2 {
                    line-height: 1.35;

                    .line {
                        justify-content: center;
                    }
                }

                p {}
            }

            .index-aboutUs__wrapper-forswiper {
                margin-right: 0;
                padding: 49px 0 38px;
            }

            .index-aboutUs__more-details-reviews {
                margin: 0 auto;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1380px) {

    //fix for rem units
    main {
        .catalog-categories {
            .catalog-categories__category {
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {

        .allPageCard {
            height: 656px;

            .allPageCard__swiperImg {
                flex: 4.2;

                .swiper-wrapper {
                    height: 96%;

                    .swiper-slide {
                        a {
                            img {
                                //max-height: 293px;
                            }
                        }
                    }
                }
            }

            .allPageCard__raiting {
                flex-direction: column;
                margin-top: 20px;
                row-gap: 4px;

                p {
                    text-align: left;
                }
            }


            h4 {
                font-size: clamp(18px, 5vw - 31px, 24px);

            }

            p {
                font-size: clamp(14px, 5vw - 31px, 16px);
                line-height: 1.4;
            }
        }


        .allPageCardIgnorRemToPx {
            padding: 24px 13px 24px 17px;
        }

        .allPageCard__buy {
            flex-wrap: wrap;
            justify-content: start;

            .price {
                text-align: left;
                width: 85%;
            }

            .allPageCard__buy__a {
                margin: 0;

            }
        }


        .index-offer {
            width: auto;

            .index-offer__container {
                row-gap: clamp(27px, 30vw - 265px, 65px);

                .index-offer__swiper {
                    overflow: visible;

                    .swiper-wrapper {
                        .swiper-slide {
                            .swiper-slide__items {
                                padding-top: clamp(31.04px, 20vw - 113.6px, 94.4px);
                                padding-bottom: clamp(33.6px, 4vw, 52.8px);
                                padding-left: clamp(30px, 20vw - 160px, 52.8px);

                                .swiper-slide__items__info1 {
                                    line-height: 1.4;
                                }

                                .swiper-slide__items__info2 {
                                    line-height: 1.3;
                                    font-size: clamp(16px, 2vw, 18px);
                                    width: 304px;
                                }

                                .swiper-slide__items__block-buy {
                                    margin-top: clamp(61px, 30vw - 197px, 132px);

                                    a {
                                        width: clamp(131px, 34%, 232px);
                                        min-width: 131px;
                                        height: clamp(37px, 5.5vw, 63px);
                                        min-height: 37px;
                                        font-size: clamp(12px, 2vw, 18px);
                                    }
                                }

                            }
                        }
                    }


                }

                .index-offer__online-store {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    height: clamp(260.8px, 542px - 25.6vw, 316px);
                    padding-top: 0;
                    background-position: 147% -135%, -4% 16%;
                    background-size: 50% 90%, 27% 100%;

                    .index-offer__online-store__wrapper {
                        p {
                            width: 44vw;
                        }
                    }

                    .links-online-store {
                        width: 41vw;
                        margin-top: 0;
                    }
                }
            }
        }

        .index-advantages {
            .index-advantages__block {
                flex-direction: column;
                width: 490px;
                margin: 21.6px auto 48px;
                row-gap: 16px;

                .index-advantages__block__item {
                    display: flex;
                    text-align: left;

                    &:not(:first-child) {
                        .index-advantages__block__item__wrapper {
                            padding-top: 10px;
                        }
                    }

                    img {
                        margin: 0 17px 0 0;
                    }

                    .index-advantages__block__item__wrapper {
                        width: 79%;

                        h4 {
                            margin: 0 0 7px;
                        }

                        p {
                            padding: 0;
                            text-align: left;
                            line-height: 1.4;
                            letter-spacing: 0px;
                        }
                    }


                }
            }
        }

        .index-catalog {
            border-radius: clamp(30px, 15vw - 60px, 90px);

            h2 {
                line-height: 1.4;

                &:last-of-type {

                    .line {
                        &:last-child {
                            .wrapperForWord {
                                &:first-child {
                                    color: vars.$accent;
                                }
                            }
                        }

                    }
                }

            }

            .swiper-card {
                width: clamp(320px, 97vw - 36px, 1160px);
            }

        }

        .catalog-categories {
            grid-template-columns: 1fr 1fr;
            margin-top: clamp(21px, 20vw - 160px, 61px);
            margin-bottom: clamp(61px, 281px - 20vw, 110px);

            .catalog-categories__category {
                padding: 20px 6%;
                flex-wrap: nowrap;

                .catalog-categories__category__wrapper {
                    padding: 0 2%;

                    span {
                        position: relative;
                        right: -4%;
                    }
                }
            }
        }

        .index-aboutUs {

            aside {
                padding: 0 32px;

                p {
                    margin-top: 14px;
                }
            }

            .index-aboutUs__wrapper-forswiper {
                padding: 40px 0 28px;
            }
        }
    }

}

/*@media screen and (max-width: 790px) {
    main {
        .allPageCard {
            height: 656px;
        }
    }
}*/

@media screen and (max-width: 735px) {
    main {
        .allPageCard {
            .allPageCard__swiperImg {
                flex: 4.3;

                .swiper-wrapper {
                    height: 96%;
                }
            }

        }

        .index-offer {
            padding-bottom: clamp(60px, 10vw, 78px);

            .index-offer__container {
                row-gap: 4px;

                .index-offer__swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .swiper-slide__items {
                                .swiper-slide__items__top {
                                    width: clamp(98px, 20vw - 25.6px, 120px);
                                    height: 33px;
                                    font-size: clamp(12px, 3vw - 6.4px, 16px);
                                }

                                .swiper-slide__items__info1 {

                                    line-height: 1.37;
                                    margin: clamp(8px, 20vw - 112px, 14px) 0;
                                }

                                .swiper-slide__items__info2 {
                                    font-size: clamp(14px, 2.2vw, 16px);
                                    width: 272px;
                                    line-height: 1.4;
                                }

                                .swiper-slide__items__block-buy {
                                    margin-top: clamp(30px, 25vw - 123px, 61px);
                                }
                            }
                        }
                    }
                }

                .index-offer__online-store {
                    height: clamp(247px, 60vw - 112px, 316px);
                    padding-top: 0;

                    .index-offer__online-store__wrapper {
                        p {
                            width: 57vw;
                        }
                    }

                    .links-online-store {
                        width: clamp(256px, 80vw - 262.4px, 326.4px);
                    }
                }
            }
        }

        .index-advantages {
            padding-bottom: clamp(60px, 20vw - 67px, 80px);

            .index-advantages__block {
                .index-advantages__block__item {
                    .index-advantages__block__item__wrapper {
                        p {
                            letter-spacing: 1.1px;
                        }

                    }
                }
            }

            .index-advantages__wrapper-links {
                a {
                    width: clamp(260px, 50vw - 37.92px, 320px);
                }
            }
        }

        .index-catalog {
            padding: 77px 0 76px;

            .swiper-card {
                margin: clamp(15px, 40vw - 237px, 57px) 0 0 16px;
            }

        }

        .catalog-categories {
            margin-top: clamp(33px, 94px - 10vw, 32px);
            margin-bottom: clamp(61px, 40vw - 184px, 110px);

            .catalog-categories__category {
                height: clamp(80px, 1vw + 74px, 99px);
                flex-direction: column;
                padding: 20px 2%;
                row-gap: 7%;

                img {
                    width: 32px;
                    height: 32px;
                }

                .catalog-categories__category__wrapper {
                    padding: 0;

                    p {
                        font-size: clamp(14px, 3vw - 4px, 18px);
                        margin-left: 0;
                        letter-spacing: 0.2px;
                        padding: 0;
                    }

                    span {
                        right: 0;
                        margin-left: 16px;
                    }
                }

            }

            .index-catalog__goToCatalog {
                font-size: clamp(14px, 3vw - 4px, 18px);
            }
        }

        .index-aboutUs {
            padding: clamp(60px, 20vw - 67px, 80px) 0;

            aside {


                p {
                    line-height: 1.43;
                }
            }

            .index-aboutUs__wrapper-forswiper {
                .index-aboutUs__wrapper-forswiper__swiper-reviews {
                    .swiper-wrapper {
                        .swiper-slide {
                            padding: 29px 20px 26px 22px;

                            h4 {
                                font-size: clamp(16px, 5vw - 12px, 24px);
                                letter-spacing: 0.2px;
                            }

                            p {
                                font-size: clamp(12px, 5vw - 16px, 16px);
                                margin: 7px 0 21px;
                                line-height: 1.4;
                            }

                            .full-review {
                                align-items: flex-start;

                                .name-box {

                                    .name {
                                        line-height: 1.7;
                                    }

                                    .date {
                                        line-height: 1.3;
                                    }
                                }


                            }

                        }
                    }

                    .index-aboutUs__wrapper-forswiper__swiper-reviews__pagination {
                        margin: 22px auto 0;
                    }
                }
            }

            .index-aboutUs__more-details-reviews {
                a {
                    width: clamp(260px, 50vw - 47px, 320px);
                }
            }
        }
    }
}


@media screen and (max-width: 580px) {
    main {
        @mixin swiperCard580 {


            .allPageCard__swiperImg {


                .swiper-wrapper {


                    .swiper-slide {


                        a {

                            img {
                                margin-left: -17px;
                            }
                        }

                    }
                }

                .swiper-card__swiperImg-pagination {
                    margin-left: -8px;
                    margin-top: 0;

                    .swiper-pagination-bullet {
                        width: 13px;
                    }

                    .swiper-pagination-bullet-active {}
                }

            }

            .allPageCard__raiting {
                margin-top: 10px;

                p {
                    display: none;
                }
            }

            h4 {
                font-size: 12px;
                margin: 10px 0 5px;
            }

            p {
                display: none;
            }
        }

        @mixin swiperCard580IgnorePxToRem {
            padding: 17px 0 17px 17px;
        }

        @mixin swiperCard580_buy {
            row-gap: 16px;

            .price {
                font-size: 18px;
            }

            .allPageCard__buy__a {
                .allPageCard__buy__a__txt {
                    display: none;
                }
            }

            .allPageCard__buy__a,
            .allPageCard__buy__btn {
                width: 35px;
            }
        }

        .allPageCard {
            height: 346px;
            @include swiperCard580;
        }

        .allPageCardIgnorRemToPx {
            @include swiperCard580IgnorePxToRem
        }

        .allPageCard__buy {
            @include swiperCard580_buy;
        }

        .index-offer {
            .index-offer__container {
                .index-offer__swiper {

                    .swiper-wrapper {
                        .swiper-slide {
                            flex-direction: column;


                            .swiper-slide__items {
                                width: inherit;
                                background: none;
                                background-color: vars.$accent;
                                padding-top: 19px;
                                padding-bottom: 28px;
                                border-radius: 0 0 32px 32px;
                                order: 2;

                                .swiper-slide__items__block-buy {
                                    a {
                                        width: 120px;
                                        min-width: 120px;
                                        height: 33px;
                                        min-height: 33px;
                                    }

                                }

                            }

                            picture {
                                position: relative;
                                order: 1;
                                width: 100%;
                                height: 53vw;


                                img {
                                    position: absolute;
                                    right: 0;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 32px 32px 0 0;
                                    //object-fit: cover;
                                }
                            }

                        }
                    }
                }

                .index-offer__online-store {
                    min-width: auto;
                    height: 360.8px;
                    padding: 0;
                    background-position: 161% -49%, -31% 179%;
                    background-size: 77% 200px, 74% 250px;

                    .index-offer__online-store__wrapper {
                        h3 {
                            letter-spacing: 0.5px;
                            line-height: 1;
                        }

                        p {
                            width: 264px;
                        }
                    }

                    .links-online-store {
                        margin-top: 0;
                        width: 214.4px;
                    }
                }
            }
        }

        .index-advantages {
            padding-bottom: 60px;

            .index-advantages__block {
                //width: 261px;//fix for rem units
                //width: auto;
                width: calc(50vw + 100px); //fix for rem units
                margin: 22px auto 22px;

                .index-advantages__block__item {
                    img {
                        width: clamp(61px, 14vw, 80px);
                        height: clamp(61px, 14vw, 80px);
                    }


                    &:not(:first-child) {
                        .index-advantages__block__item__wrapper {
                            padding-top: 3px;
                        }
                    }

                    .index-advantages__block__item__wrapper {
                        p {
                            letter-spacing: 0px;
                        }

                    }

                }
            }

            .index-advantages__wrapper-links {
                flex-direction: column;
                align-items: center;
                row-gap: 9px;

                a {
                    height: clamp(45px, 13vw, 63px);
                    border-radius: 0.25px;
                    font-size: clamp(14px, 5vw - 9.6px, 18px);
                }
            }
        }

        .index-catalog {
            background: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            overflow: visible;

            h2 {
                &:first-child {
                    display: none;
                }

            }

            .swiper-card {
                margin: 15px auto 0;

                .swiper-wrapper {
                    .swiper-slide {
                        border-radius: 8px;
                        background-color: vars.$title-light;
                    }
                }
            }
        }

        .catalog-categories {
            margin-top: 23px;
            margin-bottom: 0;
            order: 1;
            grid-template-columns: 1fr;

            .catalog-categories__category {
                &:not(:last-child) {
                    display: none;
                }

            }

            .index-catalog__goToCatalog {
                max-width: 100vw;
                width: 260px;
                height: 45px;
                border-radius: 4px;
                justify-self: center;
            }
        }

        .index-aboutUs {
            aside {
                p {}
            }

            .index-aboutUs__wrapper-forswiper {
                padding: 25px 0 11px;

                .index-aboutUs__wrapper-forswiper__swiper-reviews {
                    .swiper-wrapper {
                        .swiper-slide {
                            padding: 29px 13px 31px 22px;

                            h4 {
                                padding-right: 91px;
                            }

                            p {
                                margin: 7px 0 18px;
                            }

                            .full-review {
                                flex-wrap: wrap;

                                .name-box {

                                    .name {
                                        font-size: clamp(14px, 3vw, 16px);
                                    }
                                }

                                a {
                                    width: clamp(103px, 30vw - 13px, 160px);
                                    text-align: center;
                                    padding: 3px 0;
                                }
                            }
                        }
                    }

                    .index-aboutUs__wrapper-forswiper__swiper-reviews__pagination {
                        margin: 13px auto 0;

                    }

                }
            }

            .index-aboutUs__more-details-reviews {


                a {
                    font-size: clamp(14px, 2vw + 7px, 18px);
                    max-width: 100vw;
                }
            }
        }
    }

}

@media screen and (max-width: 450px) {
    main {


        .stars {
            width: 80px;
            height: 16px;
            margin: 0;
        }

        .index-offer {
            padding-top: 24px;

            .index-offer__container {
                row-gap: 10px;

                .index-offer__swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            border-radius: 16px;

                            .swiper-slide__items {
                                border-radius: 0 0 16px 16px;

                                p {
                                    max-width: 100%;
                                }

                                .swiper-slide__items__block-buy {
                                    flex-wrap: wrap; //fix for rem units
                                    gap: 4px 8px; //fix for rem units
                                }
                            }

                            picture {
                                img {
                                    border-radius: 16px 16px 0 0;
                                }
                            }
                        }
                    }

                    .index-offer__swiper__pagination {
                        margin-top: 20px;

                        .swiper-pagination-bullet {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }


            }
        }

        .index-aboutUs {
            .index-aboutUs__wrapper-forswiper {
                .index-aboutUs__wrapper-forswiper__swiper-reviews {
                    .swiper-wrapper {
                        .swiper-slide {


                            h4 {}

                            p {

                                line-height: 1.4;
                            }

                            .full-review {}
                        }
                    }

                    .index-aboutUs__wrapper-forswiper__swiper-reviews__pagination {
                        span {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }

            .index-aboutUs__more-details-reviews {
                flex-direction: column;
                width: 260px;
                height: 99px;
                row-gap: 9px;
            }
        }
    }


}

@media screen and (max-width: 320px) {
    main {}
}