@use 'vars';

main {
    .allPageCard__buy {
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        span {
            font-weight: 500;
            font-size: 24px;
            color: vars.$accent;
        }

        .swiper-card__buy__a,
        .allPageCard__buy__a {
            width: 160px;
            height: 35px;
            position: relative;
            padding-left: 29px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 14px;
            margin-left: auto;
            margin-right: 10px;

            .swiper-card__buy__a__img {
                position: absolute;
                top: 10px;
                left: 38px;

            }
        }

        button {
            width: 70px;
            height: 35px;
            background-color: vars.$title-light;
            border-radius: 4px;
            padding-left: 27px;
            border: 1px solid vars.$accent;

            img {
                width: 13px;
                height: 13px;

            }

            &:hover {
                background-color: vars.$accent__on-hower__oppas20;
                transition: vars.$main__transition;
            }

            &:active {
                background-color: vars.$accent__while-pressing__oppas40;
                transition: vars.$main__transition;
            }
        }
    }

    .placingAnOrder {
        .container {
            form {
                background-color: inherit;
                max-width: 1116px;
                width: 1116px;
                padding: 0;

                p {
                    width: auto;
                    font-size: 16px;
                }


                .placingAnOrder__form__block {
                    width: 100%;
                    background-color: vars.$title-light;
                    margin: clamp(24px, 4vw - 36px, 40px) 0;
                    padding: clamp(60px, 200px - 8vw, 80px) 35px;
                    border-radius: 24px;

                    .placingAnOrder__form__block__item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: clamp(31.5px, 200px - 9vw, 47px) 0;

                        &:first-child {
                            padding-top: 0;
                            padding-bottom: clamp(32px, 200px - 9vw, 47px);
                        }

                        &:last-child {
                            padding-top: clamp(32px, 200px - 9vw, 47px);
                            padding-bottom: 0;

                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid vars.$border-color;
                        }

                        h5 {
                            font-size: 20px;
                            line-height: 1.4;
                        }

                        .placingAnOrder__form__block__item__wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            width: 97%;
                            gap: 4px;
                            margin-top: clamp(32px, 200px - 9vw, 47px);
                            margin-bottom: 14px;

                            .placingAnOrder__form__block__item__wrapper__card {
                                display: flex;
                                width: 504px;
                                align-items: center;
                                padding: 12px 17px;
                                background-color: vars.$bg-body;
                                border-radius: 8px;

                                img {
                                    width: 43px;
                                    height: 52px;
                                    margin-right: 16px;
                                }

                                .placingAnOrder__form__block__item__wrapper__card__descr {
                                    h6 {
                                        padding-right: 15px;
                                        line-height: 1.4;

                                        i {
                                            font-style: normal;
                                        }
                                    }

                                    .placingAnOrder__form__block__item__wrapper__card__descr__buy {
                                        justify-content: start;
                                        align-items: baseline;

                                        p {
                                            padding: 0;
                                            margin: 0;
                                            text-align: start;
                                        }

                                        span {
                                            &:first-of-type {
                                                font-size: 12px;
                                                flex-grow: 0.12;
                                            }

                                            &:last-of-type {
                                                font-size: 18px;
                                                flex-grow: 0.12;
                                            }
                                        }

                                        .add-info-price {
                                            font-size: 12px;
                                            flex-grow: 0.1;

                                            span {
                                                font-size: 14px;
                                                color: vars.$title;
                                                margin-left: 12px;
                                            }
                                        }

                                        .additional-info-card {
                                            font-size: 12px;
                                            margin-left: auto;
                                        }
                                    }
                                }
                            }
                        }

                        fieldset {
                            border: none;

                            legend {
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 1.4;
                                color: vars.$colorH1H2H3H4;
                                text-align: center;
                                margin-bottom: 32px;
                            }

                            .form__item {}

                            #customFileInput {
                                display: none;
                            }

                            .for-custom-file-input {
                                font-weight: 400;
                                font-size: 16px;
                                color: vars.$accent;
                                text-decoration: underline;
                                cursor: pointer;
                                display: block;
                                text-align: center;
                                padding-top: 3px;
                            }



                            .hide {
                                display: none;
                            }
                        }

                        .form--radio--legal-entity--personal {
                            width: 100%;
                            border: none;
                            justify-content: center;
                            flex-wrap: wrap;
                            column-gap: 26px;
                            row-gap: 29px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .fieldset__item {
                                input {
                                    flex-shrink: 0;
                                }
                            }
                        }

                        &:nth-child(2) {
                            fieldset {
                                legend {
                                    margin-bottom: clamp(32px, 200px - 9vw, 47px);
                                }
                            }
                        }

                        a {
                            align-self: start;

                            padding-left: 16px;
                        }

                        p {
                            margin: 0;
                        }

                        .delivery {
                            line-height: 1.7;
                            color: vars.$title;
                            padding-top: 14px;

                        }

                        .placingAnOrder__form__block__item__amount-days {
                            font-weight: 500;
                            font-size: 24px;
                            color: vars.$accent;
                            margin: 21px 0 5px;

                        }

                        .placingAnOrder__form__block__item__addInfo {
                            padding: 0 270px;
                            font-size: 14px;
                            line-height: 1.4;
                        }

                        .placingAnOrder__form__block__item__paid {
                            width: 512px;
                            display: grid;
                            grid-template-columns: 0.64fr 1fr;
                            grid-template-rows: 21px 21px 46px;
                            margin-top: 32px;
                            row-gap: 6px;
                            align-items: center;

                            p {
                                text-align: left;
                                color: vars.$p_placingAnOrder_total-paid;
                                padding: 0;

                                &:last-of-type {
                                    align-self: end;
                                }
                            }

                            span {
                                font-weight: 400;
                                font-size: 16px;
                                color: vars.$title-p;

                                &:last-of-type {
                                    align-self: end;
                                    font-weight: 500;
                                    font-size: 20px;
                                }
                            }
                        }

                    }

                }

                .consent {
                    margin-top: 0px;
                }

                button {
                    border-radius: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    main {
        .placingAnOrder {
            .container {
                form {
                    width: clamp(736px, 80vw - 4px, 1116px);

                    .placingAnOrder__form__block {
                        .placingAnOrder__form__block__item {
                            h5 {
                                line-height: 1.3;
                            }

                            .placingAnOrder__form__block__item__wrapper {
                                width: clamp(690px, 73vw - 10px, 1012px);

                                .placingAnOrder__form__block__item__wrapper__card {
                                    width: 245px;

                                    .placingAnOrder__form__block__item__wrapper__card__descr {
                                        h6 {
                                            font-size: 16px;

                                            i {
                                                display: none;
                                            }
                                        }

                                        .placingAnOrder__form__block__item__wrapper__card__descr__buy {
                                            span {
                                                display: none;
                                            }

                                            .add-info-price {
                                                display: none;
                                            }

                                            .additional-info-card {
                                                &:not(:last-child) {
                                                    display: none;
                                                }

                                                margin-left: 0;
                                            }
                                        }

                                    }
                                }
                            }

                            a {
                                line-height: 1.3;
                            }

                            .placingAnOrder__form__block__item__paid {
                                grid-template-rows: 25px 18px 46px;
                            }
                        }

                        .hide1400 {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        .allPageCard__buy {
            flex-wrap: wrap;

            span {
                text-align: left;
                width: 85%;
            }

            .allPageCard__buy__a {
                margin: 0;

            }
        }

        .placingAnOrder {
            padding-bottom: clamp(80px, 500px - 39vw, 160px);

            .container {
                form {
                    .placingAnOrder__form__block {
                        padding: clamp(40px, 15vw - 85px, 80px) clamp(0px, 15vw - 129px, 35px);

                        .placingAnOrder__form__block__item {
                            .placingAnOrder__form__block__item__wrapper {

                                .placingAnOrder__form__block__item__wrapper__card {
                                    width: clamp(227px, 1vw - 1px, 245px);
                                    padding: 12px 8px;
                                }
                            }

                            a {
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 735px) {
    main {
        .placingAnOrder {
            .container {
                width: 100%;

                form {
                    width: 100%;

                    .placingAnOrder__form__block {
                        .placingAnOrder__form__block__item {
                            .placingAnOrder__form__block__item__wrapper {
                                width: clamp(512px, 135vw - 302px, 690px);
                            }

                            a {
                                padding-left: 44px;
                            }

                            .delivery {
                                width: 70%;
                                line-height: 1.5;
                                padding-top: 16px;
                            }
                        }
                    }

                    .consent {
                        width: 525px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    main {
        .placingAnOrder {
            padding-bottom: clamp(60px, 40vw - 72px, 160px);

            .container {
                form {
                    h2 {
                        line-height: 1.33;
                    }

                    .placingAnOrder__form__block {
                        padding: 40px clamp(0px, 100px - 17vw, 30px);

                        .placingAnOrder__form__block__item {
                            .placingAnOrder__form__block__item__wrapper {
                                width: 100%;
                                justify-content: center;
                            }

                            fieldset {
                                .form__item {
                                    label {
                                        line-height: 1.3;
                                    }
                                }
                            }

                            .form--radio--legal-entity--personal {
                                justify-content: start;
                            }

                            a {
                                padding-left: 0;
                                align-self: center;
                            }

                            &:nth-child(2) {
                                .form--radio--legal-entity--personal {
                                    padding: 0 15%;
                                }
                            }

                            &:nth-child(3) {
                                padding-left: clamp(0px, 25vw - 95px, 50px);

                                .form--radio--legal-entity--personal {
                                    .fieldset__item {
                                        align-items: flex-start;

                                        label {
                                            line-height: 1.4;
                                        }
                                    }
                                }
                            }

                            .delivery {
                                width: 100%;
                                text-align: left;
                                line-height: 1.43;
                            }

                            .placingAnOrder__form__block__item__paid {
                                width: 90%;
                                grid-template-rows: 1fr;

                                p {
                                    &:last-of-type {
                                        margin-top: 23px;
                                    }
                                }
                            }
                        }
                    }

                    .consent {
                        width: 260px;
                        margin-bottom: 20px;

                        i,
                        a {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    main {
        .placingAnOrder {
            .container {
                form {
                    .placingAnOrder__form__block {
                        .placingAnOrder__form__block__item {
                            .placingAnOrder__form__block__item__paid {
                                width: 74%;
                                grid-template-columns: 1fr;
                            }
                        }
                    }
                }
            }
        }
    }
}