main .allPageCard__buy {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
main .allPageCard__buy span {
  font-weight: 500;
  font-size: 24px;
  color: #73C167;
}
main .allPageCard__buy .swiper-card__buy__a,
main .allPageCard__buy .allPageCard__buy__a {
  width: 160px;
  height: 35px;
  position: relative;
  padding-left: 1.8125rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
}
main .allPageCard__buy .swiper-card__buy__a .swiper-card__buy__a__img,
main .allPageCard__buy .allPageCard__buy__a .swiper-card__buy__a__img {
  position: absolute;
  top: 10px;
  left: 38px;
}
main .allPageCard__buy button {
  width: 70px;
  height: 35px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding-left: 27px;
  border: 1px solid #73C167;
}
main .allPageCard__buy button img {
  width: 13px;
  height: 13px;
}
main .allPageCard__buy button:hover {
  background-color: rgba(115, 193, 103, 0.2);
  transition: all 0.5s ease;
}
main .allPageCard__buy button:active {
  background-color: rgba(115, 193, 103, 0.4);
  transition: all 0.5s ease;
}
main .placingAnOrder .container form {
  background-color: inherit;
  max-width: 1116px;
  width: 1116px;
  padding: 0;
}
main .placingAnOrder .container form p {
  width: auto;
  font-size: 16px;
}
main .placingAnOrder .container form .placingAnOrder__form__block {
  width: 100%;
  background-color: #FFFFFF;
  margin: clamp(24px, 4vw - 36px, 40px) 0;
  padding: clamp(60px, 200px - 8vw, 80px) 35px;
  border-radius: 24px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(31.5px, 200px - 9vw, 47px) 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:first-child {
  padding-top: 0;
  padding-bottom: clamp(32px, 200px - 9vw, 47px);
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:last-child {
  padding-top: clamp(32px, 200px - 9vw, 47px);
  padding-bottom: 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:not(:last-child) {
  border-bottom: 1px solid #BBBBBB;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item h5 {
  font-size: 20px;
  line-height: 1.4;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  gap: 4px;
  margin-top: clamp(32px, 200px - 9vw, 47px);
  margin-bottom: 14px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card {
  display: flex;
  width: 504px;
  align-items: center;
  padding: 12px 17px;
  background-color: #F3F3F3;
  border-radius: 8px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card img {
  width: 43px;
  height: 52px;
  margin-right: 16px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr h6 {
  padding-right: 15px;
  line-height: 1.4;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr h6 i {
  font-style: normal;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy {
  justify-content: start;
  align-items: baseline;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy p {
  padding: 0;
  margin: 0;
  text-align: start;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy span:first-of-type {
  font-size: 12px;
  flex-grow: 0.12;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy span:last-of-type {
  font-size: 18px;
  flex-grow: 0.12;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .add-info-price {
  font-size: 12px;
  flex-grow: 0.1;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .add-info-price span {
  font-size: 14px;
  color: #0D0D0D;
  margin-left: 12px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .additional-info-card {
  font-size: 12px;
  margin-left: auto;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset {
  border: none;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset legend {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #202020;
  text-align: center;
  margin-bottom: 32px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset #customFileInput {
  display: none;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset .for-custom-file-input {
  font-weight: 400;
  font-size: 16px;
  color: #73C167;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  text-align: center;
  padding-top: 3px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset .hide {
  display: none;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .form--radio--legal-entity--personal {
  width: 100%;
  border: none;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 29px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .form--radio--legal-entity--personal:last-child {
  margin-bottom: 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .form--radio--legal-entity--personal .fieldset__item input {
  flex-shrink: 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:nth-child(2) fieldset legend {
  margin-bottom: clamp(32px, 200px - 9vw, 47px);
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item a {
  align-self: start;
  padding-left: 16px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item p {
  margin: 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .delivery {
  line-height: 1.7;
  color: #0D0D0D;
  padding-top: 14px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__amount-days {
  font-weight: 500;
  font-size: 24px;
  color: #73C167;
  margin: 21px 0 5px;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__addInfo {
  padding: 0 270px;
  font-size: 14px;
  line-height: 1.4;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid {
  width: 512px;
  display: grid;
  grid-template-columns: 0.64fr 1fr;
  grid-template-rows: 21px 21px 46px;
  margin-top: 32px;
  row-gap: 6px;
  align-items: center;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid p {
  text-align: left;
  color: #ACACAC;
  padding: 0;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid p:last-of-type {
  align-self: end;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid span {
  font-weight: 400;
  font-size: 16px;
  color: #353535;
}
main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid span:last-of-type {
  align-self: end;
  font-weight: 500;
  font-size: 20px;
}
main .placingAnOrder .container form .consent {
  margin-top: 0px;
}
main .placingAnOrder .container form button {
  border-radius: 8px;
}

@media screen and (max-width: 1400px) {
  main .placingAnOrder .container form {
    width: clamp(736px, 80vw - 4px, 1116px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item h5 {
    line-height: 1.3;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper {
    width: clamp(690px, 73vw - 10px, 1012px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card {
    width: 245px;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr h6 {
    font-size: 16px;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr h6 i {
    display: none;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy span {
    display: none;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .add-info-price {
    display: none;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .additional-info-card {
    margin-left: 0;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card .placingAnOrder__form__block__item__wrapper__card__descr .placingAnOrder__form__block__item__wrapper__card__descr__buy .additional-info-card:not(:last-child) {
    display: none;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item a {
    line-height: 1.3;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid {
    grid-template-rows: 25px 18px 46px;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .hide1400 {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  main .allPageCard__buy {
    flex-wrap: wrap;
  }
  main .allPageCard__buy span {
    text-align: left;
    width: 85%;
  }
  main .allPageCard__buy .allPageCard__buy__a {
    margin: 0;
  }
  main .placingAnOrder {
    padding-bottom: clamp(80px, 500px - 39vw, 160px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block {
    padding: clamp(40px, 15vw - 85px, 80px) clamp(0px, 15vw - 129px, 35px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper .placingAnOrder__form__block__item__wrapper__card {
    width: clamp(227px, 1vw - 1px, 245px);
    padding: 12px 8px;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item a {
    padding-left: 25px;
  }
}
@media screen and (max-width: 735px) {
  main .placingAnOrder .container {
    width: 100%;
  }
  main .placingAnOrder .container form {
    width: 100%;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper {
    width: clamp(512px, 135vw - 302px, 690px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item a {
    padding-left: 44px;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .delivery {
    width: 70%;
    line-height: 1.5;
    padding-top: 16px;
  }
  main .placingAnOrder .container form .consent {
    width: 525px;
  }
}
@media screen and (max-width: 580px) {
  main .placingAnOrder {
    padding-bottom: clamp(60px, 40vw - 72px, 160px);
  }
  main .placingAnOrder .container form h2 {
    line-height: 1.33;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block {
    padding: 40px clamp(0px, 100px - 17vw, 30px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__wrapper {
    width: 100%;
    justify-content: center;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item fieldset .form__item label {
    line-height: 1.3;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .form--radio--legal-entity--personal {
    justify-content: start;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item a {
    padding-left: 0;
    align-self: center;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:nth-child(2) .form--radio--legal-entity--personal {
    padding: 0 15%;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:nth-child(3) {
    padding-left: clamp(0px, 25vw - 95px, 50px);
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:nth-child(3) .form--radio--legal-entity--personal .fieldset__item {
    align-items: flex-start;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item:nth-child(3) .form--radio--legal-entity--personal .fieldset__item label {
    line-height: 1.4;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .delivery {
    width: 100%;
    text-align: left;
    line-height: 1.43;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid {
    width: 90%;
    grid-template-rows: 1fr;
  }
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid p:last-of-type {
    margin-top: 23px;
  }
  main .placingAnOrder .container form .consent {
    width: 260px;
    margin-bottom: 20px;
  }
  main .placingAnOrder .container form .consent i,
  main .placingAnOrder .container form .consent a {
    padding-top: 0;
  }
}
@media screen and (max-width: 450px) {
  main .placingAnOrder .container form .placingAnOrder__form__block .placingAnOrder__form__block__item .placingAnOrder__form__block__item__paid {
    width: 74%;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=placingAnOrder.css.map */
