<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.min.css">
    <style>
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    </style>
</head>

<body onload="changeCheckedRadioBlog()">
    <div class="forSmoothScroll">
        <div class="forSmoothScroll__wrapper">
            <%= require('html-loader!./header.html').default %>
            <div class="container">
                <nav class="secondary-nav">
                    <ul>
                        <li><a href="https://livebacteria.local/">Главная</a></li>
                        <li><a href="https://livebacteria.local/directory.html">Справочник</a></li>
                        <li>
                            <a href="" class="secondary-nav__arrow-back"><svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H24V3.5H1V4.5Z" fill="#73C167" />
                                </svg></a>
                            <p>Блог</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <main>
                <section class="blog">
                    <div class="container for-Buy-ques-bl-acc">
                        <h2>Блог</h2>
                        <div class="blog__categories forCategoryAllPages">
                            <p id="all-blog" class="highlighted">Все<span></span></p>
                            <p id="video-broadcasts">Видео-эфиры<span></span></p>
                            <p id="product-reviews">Обзоры товаров<span></span></p>
                            <p id="tips-for-buyers">Советы покупателям<span></span></p>
                        </div>
                        <div class="blog__reviews " data-anchor="video-broadcasts">
                            <div class="blog-article-min">
                                <a href="https://livebacteria.local/article.html"><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="https://livebacteria.local/blog.html?video-broadcasts" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="https://livebacteria.local/article.html">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-cow.webp" alt="cow"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-sheep.webp" alt="sheep"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-pig.webp" alt="pig"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <!--<div class="blog-article-min">
                        <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                        <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                        <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                    </div>
                    <div class="blog-article-min">
                        <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Видео-эфиры</a>
                        <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                        <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                    </div>-->
                        </div>
                        <div class="blog__reviews " data-anchor="product-reviews">
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="https://livebacteria.local/blog.html?product-reviews" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-cow.webp" alt="cow"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-sheep.webp" alt="sheep"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-pig.webp" alt="pig"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Обзоры товаров</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                        </div>
                        <div class="blog__reviews " data-anchor="tips-for-buyers">
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="https://livebacteria.local/blog.html?tips-for-buyers" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-cow.webp" alt="cow"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-sheep.webp" alt="sheep"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-pig.webp" alt="pig"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-bird.webp" alt="birds"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                            <div class="blog-article-min">
                                <a href=""><img src="img/blog-article-concentrate.webp" alt="concentrate"></a><a href="" class="linkToCategoryBlog">Советы покупателям</a>
                                <h5><a href="">Микробные концентраты от ООО Живые Бактерии</a></h5>
                                <p>В августе 2023 вышли в продажу микробные концентраты от компании ООО Живые Бактерии.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%= require('html-loader!./footer.html').default %>
        </div>
        <%= require('html-loader!./widget.html').default %>
    </div>
    <%= require('html-loader!./modal.html').default %>
</body>

</html>