<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.min.css">
    <style>
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    </style>
</head>

<body>
    <%= htmlWebpackPlugin.options.header %>
    <div class="container">
        <nav class="secondary-nav">
            <ul>
                <li><a href="https://livebacteria.local/">Главная</a></li>
                <li>
                    <a href="" class="secondary-nav__arrow-back"><svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H24V3.5H1V4.5Z" fill="#73C167" />
                        </svg></a>
                    <p>Категории каталога</p>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <section class="catalogMainPage">
            <h2 id="h2catalogMainPage">Каталог нашей продукции</h2>
            <div class="catalog-categories">
                <a href="https://livebacteria.local/catalogCategories.html?bacteria-for-septic" class="catalog-categories__category">
                    <img src="img/icons/bacteria.svg" alt="bacteria">
                    <div class="catalog-categories__category__wrapper">
                        <p>Бактерии для септика </p><span>10</span>
                    </div>
                </a>
                <a href="https://livebacteria.local/catalogCategories.html?Fermentation-mats" class="catalog-categories__category">
                    <img src="img/icons/bird.svg" alt="bird">
                    <div class="catalog-categories__category__wrapper">
                        <p>Ферментационные подстилки</p><span>10</span>
                    </div>
                </a>
                <a href="https://livebacteria.local/catalogCategories.html?Composting" class="catalog-categories__category">
                    <img src="img/icons/compost.svg" alt="compost">
                    <div class="catalog-categories__category__wrapper">
                        <p>Компостирование</p><span>10</span>
                    </div>
                </a>
                <a href="https://livebacteria.local/catalogCategories.html?clearWater" class="catalog-categories__category">
                    <img src="img/icons/cleaning.svg" alt="cleaning">
                    <div class="catalog-categories__category__wrapper">
                        <p>Очистка сточных вод</p><span>10</span>
                    </div>
                </a>
                <a href="https://livebacteria.local/catalogCategories.html?For-soil-and-plants" class="catalog-categories__category">
                    <img src="img/icons/soil.svg" alt="soil">
                    <div class="catalog-categories__category__wrapper">
                        <p>Для почвы и растений</p> <span>10</span>
                    </div>
                </a>
                <a href="https://livebacteria.local/catalogCategories.html" class="index-catalog__goToCatalog bg-accent_col-title-light">Все товары</a>
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.modal %>
    <%= htmlWebpackPlugin.options.widget %>
    <%= htmlWebpackPlugin.options.footer %>
</body>

</html>