<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.min.css">
    <style>
        input::-ms-reveal, 
      input::-ms-clear {
        display: none;
      }
    </style>
</head>

<body>
    <div class="forSmoothScroll">
        <div class="forSmoothScroll__wrapper">
            <%= require('html-loader!./header.html').default %>
            <div class="container">
                <nav class="secondary-nav">
                    <ul>
                        <li><a href="https://livebacteria.local/">Главная</a></li>
                        <li>
                            <a href="" class="secondary-nav__arrow-back"><svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H24V3.5H1V4.5Z" fill="#73C167" />
                                </svg></a>
                            <p>Оформление заказа</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <main>
                <section class="placingAnOrder">
                    <div class="container for-Buy-ques-bl-acc">
                        <form action="">
                            <h2>Оформление заказа</h2>
                            <div class="placingAnOrder__form__block">
                                <div class="placingAnOrder__form__block__item">
                                    <h5>Состав заказа</h5>
                                    <div class="placingAnOrder__form__block__item__wrapper">
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="placingAnOrder__form__block__item__wrapper__card">
                                            <img src="img/accountBioactivate.webp" alt="Bioactivate">
                                            <div class="placingAnOrder__form__block__item__wrapper__card__descr">
                                                <h6>Биоактиватор <i>для дачных туалетов и выгребных ям Зеленая Сосна, 300гр.</i></h6>
                                                <div class="placingAnOrder__form__block__item__wrapper__card__descr__buy allPageCard__buy">
                                                    <span class="price">Стоимость:</span>
                                                    <span class="price">1000 ₽</span>
                                                    <p class="add-info-price">Скидка<span>500 ₽</span></p>
                                                    <p class="additional-info-card">5 кор.</p>
                                                    <p class="additional-info-card">60 шт</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="https://livebacteria.local/account.html">Изменить заказ</a>
                                </div>
                                <div class="placingAnOrder__form__block__item">
                                    <fieldset>
                                        <legend>Контактные данные</legend>
                                        <fieldset class="form--radio--legal-entity--personal">
                                            <div class="fieldset__item">
                                                <input type="radio" id="legal-entity" name="person" checked>
                                                <label for="legal-entity">Юридическое лицо</label>
                                            </div>
                                            <div class="fieldset__item">
                                                <input type="radio" id="individual" name="person">
                                                <label for="individual">Физическое лицо</label>
                                            </div>
                                        </fieldset>
                                        <div class="form__item" data-hide="individual">
                                            <label for="placingAnOrder__tax-number">Инн<span>*</span></label>
                                            <input type="text" id="placingAnOrder__tax-number" name="placingAnOrder__tax-number" placeholder="">
                                        </div>
                                        <div class="form__item">
                                            <label for="placingAnOrder__tel">Контактный телефон<span>*</span></label>
                                            <input type="tel" data-tel-input id="placingAnOrder__tel" class="phone" name="placingAnOrder__tel" placeholder="+7 (099) 999 99 99">
                                        </div>
                                        <div class="form__item">
                                            <label for="placingAnOrder__email">E-mail <span>*</span></label>
                                            <input type="email" id="placingAnOrder__email" name="placingAnOrder__email" placeholder="mail@domen.com">
                                        </div>
                                        <div class="form__item">
                                            <label for="placingAnOrder__name">Имя </label>
                                            <input type="text" id="placingAnOrder__name" name="placingAnOrder__name" placeholder="">
                                        </div>
                                        <div class="form__item">
                                            <label for="placingAnOrder__surname">Фамилия</label>
                                            <input type="text" id="placingAnOrder__surname" name="placingAnOrder__surname" placeholder="">
                                        </div>
                                        <div class="form__item" data-hide="individual">
                                            <label for="placingAnOrder__bik">БИК</label>
                                            <input type="text" id="placingAnOrder__bik" name="placingAnOrder__bik" placeholder="">
                                        </div>
                                        <div class="form__item" data-hide="individual">
                                            <label for="placingAnOrder__cor-account">Кор. счет</label>
                                            <input type="text" id="placingAnOrder__cor-account" name="placingAnOrder__cor-account" placeholder="">
                                        </div>
                                        <div class="form__item" data-hide="individual">
                                            <label for="placingAnOrder__calculated-account">Расчетный счет</label>
                                            <input type="text" id="placingAnOrder__calculated-account" name="placingAnOrder__calculated-account" placeholder="">
                                        </div>
                                        <label for="customFileInput" class="for-custom-file-input">Прикрепить реквизиты</label>
                                        <input id="customFileInput" type="file">
                                    </fieldset>
                                </div>
                                <div class="placingAnOrder__form__block__item">
                                    <fieldset class="form--radio--legal-entity--personal">
                                        <legend>Способ доставки</legend>
                                        <div class="fieldset__item">
                                            <input type="radio" id="pickup" name="delivery" checked>
                                            <label for="pickup">Самовывоз</label>
                                        </div>
                                        <div class="fieldset__item">
                                            <input type="radio" id="DeliveryByCompany" name="delivery">
                                            <label for="DeliveryByCompany">Доставка автотранспортом компании</label>
                                        </div>
                                        <div class="fieldset__item">
                                            <input type="radio" id="CourierDelivery" name="delivery">
                                            <label for="CourierDelivery">Курьерская доставка по г. Москва</label>
                                        </div>
                                        <div class="fieldset__item">
                                            <input type="radio" id="DeliveryTerminalShoppingMall" name="delivery">
                                            <label for="DeliveryTerminalShoppingMall">Доставка до терминала ТК</label>
                                        </div>
                                    </fieldset>
                                    <p class="delivery " data-hide-delivery="pickup">Вы можете самостоятельно забрать заказ c нашего склада по адресу: <br>г. Москва, ул. Верейская 29с153, режим работы с 09:00 до 17:30, сб.-вс. выходной</p>
                                    <p class="delivery hide" data-hide-delivery="DeliveryByCompany">приедем</p>
                                    <p class="delivery hide" data-hide-delivery="CourierDelivery">курьер привезет</p>
                                    <p class="delivery hide" data-hide-delivery="DeliveryTerminalShoppingMall">езжайте в терминал</p>
                                </div>
                                <div class="placingAnOrder__form__block__item hide1400">
                                    <h5>Срок сборки</h5>
                                    <span class="placingAnOrder__form__block__item__amount-days">2 - 5 раб. дней.</span>
                                    <p class="placingAnOrder__form__block__item__addInfo">Срок сборки чуть дольше, поскольку товар «Ферментационная подстилка для коров 500 г» изготавливается индивидуально</p>
                                </div>
                                <div class="placingAnOrder__form__block__item hide1400">
                                    <fieldset class="form--radio--legal-entity--personal ">
                                        <legend>Способ оплаты</legend>
                                        <div class="fieldset__item">
                                            <input type="radio" id="bank-card" name="payment" checked>
                                            <label for="bank-card">Банковской картой</label>
                                        </div>
                                        <div class="fieldset__item">
                                            <input type="radio" id="by-invoice" name="payment">
                                            <label for="by-invoice">По счёту</label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="placingAnOrder__form__block__item">
                                    <h5>К оплате</h5>
                                    <div class="placingAnOrder__form__block__item__paid">
                                        <p>Стоимость доставки:</p>
                                        <span>0.00 ₽</span>
                                        <p>Стоимость товаров:</p>
                                        <span>10 000.00 ₽</span>
                                        <p>Итоговая стоимость:</p>
                                        <span>10 000.00 ₽</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form__item input-label-custom consent">
                                <input type="checkbox" id="placingAnOrder__checkbox" name="placingAnOrder__checkbox" class="input-label-custom__input">
                                <label for="placingAnOrder__checkbox"><i>Я соглашаюсь с </i>
                                    <a href="#" class="goToPolitics">обработкой персональных данных и политикой конфиденциальности</a></label>
                            </div>
                            <button class="bg-accent_col-title-light">Оформить заказ</button>
                        </form>
                    </div>
                </section>
            </main>
            <%= require('html-loader!./footer.html').default %>
        </div>
        <%= require('html-loader!./widget.html').default %>
    </div>
    <%= require('html-loader!./modal.html').default %>
</body>

</html>