<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    </style>
</head>

<body>
    <div class="forSmoothScroll">
        <div class="forSmoothScroll__wrapper">
            <%= htmlWebpackPlugin.options.header %>
            <div class="container">
                <nav class="secondary-nav">
                    <ul>
                        <li><a href="https://livebacteria.local/">Главная</a></li>
                        <li><a href="https://livebacteria.local/directory.html">Справочник</a></li>
                        <li>
                            <a href="" class="secondary-nav__arrow-back"><svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H24V3.5H1V4.5Z" fill="#73C167" />
                                </svg></a>
                            <p>Вопросы</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <main>
                <section class="questions">
                    <div class="container for-Buy-ques-bl-acc">
                        <h2>Вопрос - Ответ</h2>
                        <div class="questions__categories forCategoryAllPages">
                            <p id="general-questions" class="highlighted">Общие вопросы <span></span></p>
                            <p id="questions-about-bioactivators">Вопросы по биоактиваторам для септиков и канализации<span></span></p>
                            <p id="questions-about-qermentation">Вопросы о ферментационной подстилке и компостировании<span></span></p>
                        </div>
                        <div class="questions__question-and-answer" data-anchor="general-questions">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__question-and-answer hide" data-anchor="questions-about-bioactivators">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__question-and-answer hide" data-anchor="questions-about-qermentation">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 6.00023C4.93442 6.00103 4.86941 5.9881 4.80913 5.96227C4.74885 5.93643 4.69465 5.89827 4.65 5.85023L0.15 1.35023C-0.05 1.15023 -0.05 0.840234 0.15 0.640234C0.35 0.440234 0.66 0.440234 0.86 0.640234L5.01 4.79023L9.15 0.650234C9.35 0.450234 9.66 0.450234 9.86 0.650234C10.06 0.850234 10.06 1.16023 9.86 1.36023L5.36 5.86023C5.26 5.96023 5.13 6.01023 5.01 6.01023L5 6.00023Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%= htmlWebpackPlugin.options.footer %>
        </div>
        <%= htmlWebpackPlugin.options.widget %>
    </div>
    <%= htmlWebpackPlugin.options.modal %>
</body>

</html>