<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    input::-ms-reveal,
    input::-ms-clear {
        display: none;
    }
    </style>
</head>

<body>
    <div class="forSmoothScroll">
        <div class="forSmoothScroll__wrapper">
            <%= htmlWebpackPlugin.options.header %>
            <div class="container">
                <nav class="secondary-nav">
                    <ul>
                        <li><a href="https://livebacteria.local/">Главная</a></li>
                        <li><a href="https://livebacteria.local/directory.html">Справочник</a></li>
                        <li>
                            <a href="" class="secondary-nav__arrow-back"><svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H24V3.5H1V4.5Z" fill="#73C167" />
                                </svg></a>
                            <p>Вопросы</p>
                        </li>
                    </ul>
                </nav>
            </div>
            <main>
                <section class="questions">
                    <div class="container for-Buy-ques-bl-acc">
                        <h2>Вопрос - Ответ</h2>
                        <div class="questions__categories forCategoryAllPages">
                            <p id="general-questions" class="highlighted">Общие вопросы <span></span></p>
                            <p id="questions-about-bioactivators">Вопросы по биоактиваторам для септиков и канализации<span></span></p>
                            <p id="questions-about-qermentation">Вопросы о ферментационной подстилке и компостировании<span></span></p>
                        </div>
                        <div class="questions__question-and-answer" data-anchor="general-questions">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__question-and-answer hide" data-anchor="questions-about-bioactivators">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__question-and-answer hide" data-anchor="questions-about-qermentation">
                            <div class="questions__question-and-answer__item">
                                <h4>Подстилка действительно работает?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Безопасен ли препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Из чего состоит препарат?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Исчезнет ли неприятный запах?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Как бороться с влагой в подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>С чего начать использование подстилки?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Где найти подробные инструкции о подстилке?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="questions__question-and-answer__item">
                                <h4>Какой должен быть пол?</h4>
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 19.0002C15.9344 19.001 15.8694 18.9881 15.8091 18.9623C15.7489 18.9364 15.6946 18.8983 15.65 18.8502L11.15 14.3502C10.95 14.1502 10.95 13.8402 11.15 13.6402C11.35 13.4402 11.66 13.4402 11.86 13.6402L16.01 17.7902L20.15 13.6502C20.35 13.4502 20.66 13.4502 20.86 13.6502C21.06 13.8502 21.06 14.1602 20.86 14.3602L16.36 18.8602C16.26 18.9602 16.13 19.0102 16.01 19.0102L16 19.0002Z" fill="#0D0D0D" />
                                </svg>
                                <div class="questions__question-and-answer__item__text">
                                    <div class="item__text__row">
                                        <p>Да.Глубокая несменяемая подстилка применяется в животноводстве и птицеводстве давно и успешно. Наши препараты эффективно ускоряют процесс компостирования внутри подстилки, что позволяет без дополнительной передержки вносить ее на поля в качестве удобрения. Бонусом к действию подстилки идут тепло, выделяемое в процессе разложения и оздоровление скота в целом.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%= htmlWebpackPlugin.options.footer %>
        </div>
        <%= htmlWebpackPlugin.options.widget %>
    </div>
    <%= htmlWebpackPlugin.options.modal %>
</body>

</html>